{% extends "content.html.twig" %}

{% block title %}
    <h1>{{ 'company.dashboard'|trans({}, 'FitbaseCompanyBundle') }}</h1>
{% endblock title %}

{% block breadcrumbs %}
    <div class="crumbs">
        <div class="container">
            <ul>
                <li>{{ 'company.dashboard'|trans({}, 'FitbaseCompanyBundle') }}</li>
            </ul>
        </div>
    </div>
{% endblock breadcrumbs %}

{% block content %}
    <div class="container">
        <div class="container" style="font-size: 1.1em; padding-bottom: 5px;">
            <p>{{ 'company.dashboard_hello'|trans({ 'company': company.name }, 'FitbaseCompanyBundle') }}</p>
            <p>{{ 'company.dashboard_description'|trans({}, 'FitbaseCompanyBundle') }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {{ sonata_block_render({ 'type': 'fitbase.block.dashboard.statistic_user_category' }, { 'slug': 'stress' }) }}
        </div>
        <div class="col-md-4">
            {{ sonata_block_render({ 'type': 'fitbase.block.dashboard.statistic_user_category' }, { 'slug': 'ruecken' }) }}
        </div>
        <div class="col-md-4">
            {{ sonata_block_render({ 'type': 'fitbase.block.dashboard.statistic_assessment' }, { 'company': company }) }}
        </div>
        <div class="col-md-4">
            {{ sonata_block_render({ 'type': 'fitbase.block.dashboard.statistic_user_activity' }, { 'company': company }) }}
        </div>
        <div class="col-md-8">
            {{ sonata_block_render({ 'type': 'fitbase.block.dashboard.statistic_user_focus' }) }}
        </div>
    </div>
{% endblock content %}

