<!-- Content Text-->
<div class="panel-box">
    <div class="titles">
        <h4>{{ 'company.questionnaire.done'|trans({}, 'FitbaseCompanyBundle') }}</h4>
    </div>
    <div class="row">
        <div class="col-md-12">

            <table class="table table-striped table-hover table-responsive">
                <thead>
                <tr>
                    <th>{{ 'company.questionnaire.done_interviews'|trans({}, 'FitbaseCompanyBundle') }}</th>
                    <th>{{ 'company.questionnaire.done_date'|trans({}, 'FitbaseCompanyBundle') }}</th>
                    <th>{{ 'company.questionnaire.done_users'|trans({}, 'FitbaseCompanyBundle') }}</th>
                    <th>{{ 'company.questionnaire.done_evaluation'|trans({}, 'FitbaseCompanyBundle') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for questionnaireCompany in collection %}
                    <tr>
                        <td>
                            {{ questionnaireCompany }}
                        </td>
                        <td>{{ questionnaireCompany.date|date('Y/m/d') }}</td>
                        <td>
                            <span title="{{ 'company.questionnaire.done_users_to_questionnaire'|trans({}, 'FitbaseCompanyBundle') }}">
                            {{ questionnaireCompany.questionnairesDone|length }}
                                ({{ questionnaireCompany.company.users|length }})
                            </span>
                        </td>
                        <td>
                            <a class="dialog-confirm"
                               href="{{ path("questionnaire_statistic_slice", { 'unique': questionnaireCompany.id }) }}">
                                {{ 'company.questionnaire.more'|trans({}, 'FitbaseCompanyBundle') }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>