<!-- Content Text-->
<div class="panel-box">
    <div class="titles">
        <h4>{{ 'Durchgeführte Befragungen'|trans({}, 'FitbaseQuestionnaireBundle') }}</h4>
    </div>
    <div class="row">
        <div class="col-md-12">

            <table class="table table-striped table-hover table-responsive">
                <thead>
                <tr>
                    <th>{{ 'Befragungen'|trans({}, 'FitbaseQuestionnaireBundle') }}</th>
                    <th>{{ 'Datum'|trans({}, 'FitbaseQuestionnaireBundle') }}</th>
                    <th>{{ 'Teilnehmer'|trans({}, 'FitbaseQuestionnaireBundle') }}</th>
                    <th>{{ 'Auswertung'|trans({}, 'FitbaseQuestionnaireBundle') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for questionnaireCompany in collection %}
                    <tr>
                        <td>
                            {{ questionnaireCompany }}
                        </td>
                        <td>{{ questionnaireCompany.date|date('Y/m/d') }}</td>
                        <td>
                            <span title="Anzahl der durchgeführten Fragebögen zur Anzahl der Benutzer">
                            {{ questionnaireCompany.questionnairesDone|length }}
                                ({{ questionnaireCompany.company.users|length }})
                            </span>
                        </td>
                        <td>
                            <a class="dialog-confirm"
                               href="{{ path("questionnaire_statistic_slice", { 'unique': questionnaireCompany.id }) }}">
                                {{ 'mehr...'|trans({}, 'FitbaseGamificationBundle') }}
                            </a>
                            <a class="questionnaire-remove"
                               href="{{ path("questionnaire_statistic_slice_remove", { 'unique': questionnaireCompany.id }) }}">
                                {{ 'löschen'|trans({}, 'FitbaseGamificationBundle') }}
                            </a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div id="questionnaire-remove-dialog" title="Befragung löschen">
                <p>Sind Sie sicher, dass Sie alle Ergebnisse löschen wollen?</p>
            </div>


            <script type="text/javascript">
                $(function () {

                    var containerDialog = $('#questionnaire-remove-dialog');
                    if (containerDialog.is('div')) {
                        containerDialog.dialog({
                            autoOpen: false,
                            resizable: false
                        });
                    }

                    var container = $(".questionnaire-remove");
                    container.each(function (index, element) {

                        var containerLinkRemove = $(element);
                        containerLinkRemove.click(function (event) {
                            containerDialog.dialog({
                                position: {my: "right", at: "center", of: containerLinkRemove},
                                buttons: {
                                    'Ja': function () {
                                        containerDialog.dialog("close");
                                        $.redirect(containerLinkRemove.attr('href'));
                                    },
                                    'Nein': function () {
                                        containerDialog.dialog("close");
                                    }
                                }
                            });
                            containerDialog.dialog('open');
                            return false;
                        });
                    });
                });
            </script>


        </div>
    </div>
</div>