<!-- Content Text-->
<div class="panel-box">
    <div class="titles">
        <h4>{{ 'Vorlagen für Kurzumfragen'|trans({}, 'FitbaseQuestionnaireBundle') }}</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover table-responsive">
                <thead>
                <tr>
                    <th>{{ 'company.questionnaire.interviews'|trans({}, 'FitbaseCompanyBundle') }}</th>
                    <th>{{ 'company.questionnaire.preview'|trans({}, 'FitbaseCompanyBundle') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for questionnaire in collection %}
                    <tr>
                        <td>{{ questionnaire }}</td>
                        <td>
                            <a href="{{ path("questionnaire_statistic_preview", { 'unique': questionnaire.id }) }}">
                                {{ 'mehr...'|trans({}, 'FitbaseGamificationBundle') }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
