{% block button_row -%}
    {{- form_widget(form) -}}
{%- endblock button_row %}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="form-group alert alert-warning">
                    {{ error.message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


{% block emotion_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            <a href='#' class="emotion" id="happy">
                <img src="/wp-content/uploads/smiles/happy.png" width="40px"/>
            </a>
            <a href='#' class="emotion" id="gut">
                <img src="/wp-content/uploads/smiles/gut.png" width="40px"/>
            </a>
            <a href='#' class="emotion" id="normal">
                <img src="/wp-content/uploads/smiles/normal.png" width="40px"/>
            </a>
            <a href='#' class="emotion" id="sad">
                <img src="/wp-content/uploads/smiles/sad.png" width="40px"/>
            </a>
            <a href='#' class="emotion" id="anger">
                <img src="/wp-content/uploads/smiles/anger.png" width="40px"/>
            </a>
            {{ form_widget(form) }}
            <script type="text/javascript">
                jQuery(function (event) {
                    jQuery(document).trigger({
                        type: 'gamification_emotion',
                        selector: '#{{ id }}'
                    });
                });
            </script>
        </div>
    {% endspaceless %}
{% endblock emotion_widget %}

{% block gamification_dialog_user_answer_widget %}
    {% spaceless %}
        {% if feedback is defined %}
            {% if feedback is null %}
                <p>Ein schöner Sommerurlaub</p>
            {% else %}
                <p>{{ feedback }}</p>
            {% endif %}
        {% endif %}
        {{- block('form_widget_compound') -}}
    {% endspaceless %}
{% endblock gamification_dialog_user_answer_widget %}


{% block gamification_user_emotion_widget %}
    {% spaceless %}
        {{- block('form_widget_compound') -}}
    {% endspaceless %}
{% endblock gamification_user_emotion_widget %}
