{% extends "FitbaseQuestionnaireBundle::form.html.twig" %}

{% block form_widget_compound %}
    {% spaceless %}
        <div class="modal-body" {{ block('widget_container_attributes') }}>
            <div class="row">
                <div class="col-xs-12 errors">
                    {% if form.parent is empty %}
                        {{ form_errors(form) }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ block('form_rows') }}
                    {{ form_rest(form) }}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block questionnaire_slider_widget %}
    {% spaceless %}
        <tr>
            <td class="col-xs-6">
                <h4>{{ label|raw }}</h4>
                {{ form_errors(form) }}
                {{ description }}
            </td>
            <td class="col-xs-3">
                <div id="{{ id }}"></div>
                {% set type = type|default('hidden') %}
                {{ block('form_widget_simple') }}
                <script type="text/javascript">
                    $(function () {
                        $('div[id={{ id }}]').slider({
                            min: parseInt('{{ min }}'),
                            max: parseInt('{{ max }}'),
                            value: parseInt('{{ value }}'),
                            slide: function (event, ui) {
                                $('input[id={{ id }}]').val(ui.value)
                            }
                        });
                    });
                </script>
            </td>
            <td class="col-xs-3">
                {{ sonata_block_render({ 'type': 'fitbase.block.dashboard.questionnaire_statistic_question' }, { 'question': question }) }}
            </td>
        </tr>
    {% endspaceless %}
{% endblock questionnaire_slider_widget %}


{% block questionnaire_checkbox_widget %}
    {% spaceless %}
        <tr>
            <td class="col-xs-6">
                <h4>{{ label|raw }}</h4>
                {{ form_errors(form) }}
                {{ description }}
            </td>
            <td class="col-xs-3">
                <div class="form-group">
                    {{ form_widget(form) }}
                </div>
            </td>
            <td class="col-xs-3">
                {{ sonata_block_render({ 'type': 'fitbase.block.dashboard.questionnaire_statistic_question' }, { 'question': question }) }}
            </td>
        </tr>
    {% endspaceless %}
{% endblock questionnaire_checkbox_widget %}

{% block questionnaire_radiobutton_widget %}
    {% spaceless %}
        <tr>
            <td class="col-xs-6">
                <h4>{{ label|raw }}</h4>
                {{ form_errors(form) }}
                {{ description }}
            </td>
            <td class="col-xs-3">
                <div class="form-group">
                    {{ form_widget(form) }}
                </div>
            </td>
            <td class="col-xs-3">
                {{ sonata_block_render({ 'type': 'fitbase.block.dashboard.questionnaire_statistic_question' }, { 'question': question }) }}
            </td>
        </tr>
    {% endspaceless %}
{% endblock questionnaire_radiobutton_widget %}

{% block questionnaire_selectbox_widget %}
    {% spaceless %}
        <tr>
            <td class="col-xs-6">
                <h4>{{ label|raw }}</h4>
                {{ form_errors(form) }}
                {{ description }}
            </td>
            <td class="col-xs-3">
                <div class="form-group">
                    {{ form_widget(form) }}
                </div>
            </td>
            <td class="col-xs-3">
                {{ sonata_block_render({ 'type': 'fitbase.block.dashboard.questionnaire_statistic_question' }, { 'question': question }) }}
            </td>
        </tr>
    {% endspaceless %}
{% endblock questionnaire_selectbox_widget %}
