<div class="panel panel-default">
    <div class="panel-body">

        <h4 class="short hue">
            {{ 'Bedarfsanalyse'|trans({}, 'FitbaseQuestionnaireBundle') }}
            <span class="tooltip-popup" title='Die Bedarfsanalyse wird für jeden Teilnehmer zu beginn eingeblendet und hilft dem Teilnehmer,
            den passenden Fokus für das Online-Coaching zu aktivieren. Auswertungen zu einyelnen Fragen können über
            "Detaillierte Auswertung" eingesehen werden'
                  style="float: right; font-size: 12px">
                {{ 'Info'|trans({}, 'FitbaseQuestionnaireBundle') }}
            </span>
        </h4>

        <div id="statistic_user_assessment">
            <svg id="pieChartSVG">
                <defs>
                    <filter id='pieChartInsetShadow'>
                        <feOffset dx='0' dy='0'/>
                        <feGaussianBlur stdDeviation='3' result='offset-blur'/>
                        <feComposite operator='out' in='SourceGraphic' in2='offset-blur' result='inverse'/>
                        <feFlood flood-color='black' flood-opacity='1' result='color'/>
                        <feComposite operator='in' in='color' in2='inverse' result='shadow'/>
                        <feComposite operator='over' in='shadow' in2='SourceGraphic'/>
                    </filter>
                    <filter id="pieChartDropShadow">
                        <feGaussianBlur in="SourceAlpha" stdDeviation="3" result="blur"/>
                        <feOffset in="blur" dx="0" dy="3" result="offsetBlur"/>
                        <feMerge>
                            <feMergeNode/>
                            <feMergeNode in="SourceGraphic"/>
                        </feMerge>
                    </filter>
                </defs>
            </svg>
        </div>
    </div>

    {% if questionnaire is defined and questionnaire %}
        <div class="panel-footer">
            <a href="{{ path("questionnaire_statistic", { 'unique': questionnaire.id }) }}">
                {{ 'Detaillierte Auswertung'|trans({}, 'FitbaseQuestionnaireBundle') }}
            </a>
        </div>
    {% endif %}
</div>

<script type="text/javascript">
    (function () {

        var container = $('#statistic_user_assessment');
        if (container.is('div')) {
            container.waterfall([
                {
                    label: 'Ja',
                    value: parseInt('{{ percent }}'),
                    color: '#fce14b'
                },
                {
                    label: 'Nein',
                    value: 100 - parseInt('{{ percent }}'),
                    color: '#a2d049'
                }
            ], {title: '{{ 'Bedarfsanalyse durchgeführt'|trans({}, 'FitbaseQuestionnaireBundle') }}'});
        }


    })();
</script>

