<h4 class="short hue">
    {{ 'Kurzumfragen'|trans({}, 'FitbaseQuestionnaireBundle') }}
</h4>

<p>
    Mit diesem Umfrage-Tool erhalten Sie die Möglichkeit, weitere Fragebögen an die fitbase Teilnehmer in Ihrem
    Hause zu versenden. Durch Anklicken der hinterlegten Fragebögen können Sie die Inhalte vorab einsehen.
</p>
<br/>
<div class="row">
    <div class="col-xs-6">

        <h4 class="short hue">
            {{ 'Vorlagen für Kurzumfragen'|trans({}, 'FitbaseQuestionnaireBundle') }}
        </h4>

        <table class="table table-striped table-hover table-responsive">
            <thead>
            <tr>
                <th>{{ 'Befragungen'|trans({}, 'FitbaseQuestionnaireBundle') }}</th>
                <th>{{ 'Vorschau'|trans({}, 'FitbaseQuestionnaireBundle') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for companyQuestionnaire in questionnairesAvailable %}
                <tr>
                    <td>{{ companyQuestionnaire }}</td>
                    <td>
                        <a href="{{ path("questionnaire_statistic_preview", { 'unique': companyQuestionnaire.id }) }}">
                            {{ 'mehr...'|trans({}, 'FitbaseGamificationBundle') }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="col-xs-6">

        <h4 class="short hue">
            {{ 'Durchgeführte Befragungen'|trans({}, 'FitbaseQuestionnaireBundle') }}
        </h4>

        <table class="table table-striped table-hover table-responsive">
            <thead>
            <tr>
                <th>{{ 'Durchgeführte Befragungen'|trans({}, 'FitbaseQuestionnaireBundle') }}</th>
                <th>{{ 'Datum'|trans({}, 'FitbaseQuestionnaireBundle') }}</th>
                <th>{{ 'Teilnehmer'|trans({}, 'FitbaseQuestionnaireBundle') }}</th>
                <th>{{ 'Auswertung'|trans({}, 'FitbaseQuestionnaireBundle') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for questionnaireCompany in questionnairesProcessed %}
                <tr>
                    <td>
                        {{ questionnaireCompany }}
                    </td>
                    <td>{{ questionnaireCompany.date|date('Y/m/d') }}</td>
                    <td>
                        <span title="Anzahl der durchgeführten Fragebögen zur Anzahl der Benutzer">
                            {{ questionnaireCompany.questionnairesDone|length }}
                            ({{ questionnaireCompany.company.users|length }})
                        </span>
                    </td>
                    <td>
                        <a href="{{ path("questionnaire_statistic_slice", { 'unique': questionnaireCompany.id }) }}">
                            {{ 'mehr...'|trans({}, 'FitbaseGamificationBundle') }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <h4 class="">
            {{ 'Neue Fragebogen anlegen'|trans({}, 'FitbaseQuestionnaireBundle') }}
        </h4>

        <p>
            Über das Dropdown Menü können Sie einen passenden Fragebogen auswählen, ein Versand-Datum bestimmen und
            mit dem
            Button „Umfrage anlegen“ die Umfrage aktivieren. Jeder Teilnehmer erhält beim nächsten Login die
            Aufforderung,
            an der Umfrage teilzunehmen. So erhalten Sie weitere Informationen zur Stimmung und zum
            Gesundheitszustand in
            Ihrem Unternehmen. Sie können die Umfragen so häufig durchführen wie Sie möchten. Nicht das
            passende dabei? Sprechen Sie uns gerne an.
        </p>

        {% form_theme form 'FitbaseQuestionnaireBundle:Block:dashboard/form.html.twig' %}

        {{ form(form) }}


    </div>
</div>