<h4 class="short hue">
    {{ 'Kurzumfragen'|trans({}, 'FitbaseQuestionnaireBundle') }}
</h4>

<p>
    Mit diesem Umfrage-Tool erhalten Sie die Möglichkeit, weitere Fragebögen an die fitbase Teilnehmer in Ihrem
    Hause zu versenden. Durch Anklicken der hinterlegten Fragebögen können Sie die Inhalte vorab einsehen.
</p>
<br/>
{% if questionnaires is defined and questionnaires %}
    <div class="row">
        <div class="col-xs-10">

            <table class="table table-striped table-hover table-responsive">
                <tbody>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-xs-6">
                                <strong>Durchgeführte Befragungen</strong>
                            </div>
                            <div class="col-xs-2">
                                <strong>Datum</strong>
                            </div>
                            <div class="col-xs-2">
                                Teilnehmer
                            </div>
                            <div class="col-xs-2">
                                Auswertung
                            </div>
                        </div>
                    </td>
                </tr>
                {% for questionnaireCompany in questionnaires %}
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-xs-6">
                                    {{ questionnaireCompany }}
                                </div>
                                <div class="col-xs-2">
                                    {{ questionnaireCompany.date|date('Y/m/d') }}
                                </div>
                                <div class="col-xs-2">
                                        <span title="Anzahl der durchgeführten Fragebögen zur Anzahl der Benutzer">
                                            {{ questionnaireCompany.questionnairesDone|length }}
                                            ({{ questionnaireCompany.company.users|length }})
                                        </span>
                                </div>
                                <div class="col-xs-1">
                                    <a href="{{ path("questionnaire_statistic_preview", { 'unique': questionnaireCompany.id }) }}">
                                        {{ 'vorschau'|trans({}, 'FitbaseGamificationBundle') }}
                                    </a>
                                </div>
                                <div class="col-xs-1">
                                    <a href="{{ path("questionnaire_statistic_slice", { 'unique': questionnaireCompany.id }) }}">
                                        {{ 'mehr...'|trans({}, 'FitbaseGamificationBundle') }}
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}


<h4 class="">
    {{ 'Neue Fragebogen anlegen'|trans({}, 'FitbaseQuestionnaireBundle') }}
</h4>
<p>
    Über das Dropdown Menü können Sie einen passenden Fragebogen auswählen, ein Versand-Datum bestimmen und mit dem
    Button „Umfrage anlegen“ die Umfrage aktivieren. Jeder Teilnehmer erhält beim nächsten Login die Aufforderung,
    an der Umfrage teilzunehmen. So erhalten Sie weitere Informationen zur Stimmung und zum Gesundheitszustand in
    Ihrem Unternehmen. Sie können die Umfragen so häufig durchführen wie Sie möchten. Nicht das
    passende dabei? Sprechen Sie uns gerne an.
</p>

<div class="row">
    <div class="col-xs-8">
        {% form_theme form 'FitbaseQuestionnaireBundle:Block:dashboard/form.html.twig' %}

        {{ form(form) }}

    </div>
</div>
