{% if question is defined and question %}
    <div id="statistic_user_{{ question.id }}" class="col-height-300">
        <svg>
            <defs>
                <filter id='pieChartInsetShadow'>
                    <feOffset dx='0' dy='0'/>
                    <feGaussianBlur stdDeviation='3' result='offset-blur'/>
                    <feComposite operator='out' in='SourceGraphic' in2='offset-blur' result='inverse'/>
                    <feFlood flood-color='black' flood-opacity='1' result='color'/>
                    <feComposite operator='in' in='color' in2='inverse' result='shadow'/>
                    <feComposite operator='over' in='shadow' in2='SourceGraphic'/>
                </filter>
                <filter id="pieChartDropShadow">
                    <feGaussianBlur in="SourceAlpha" stdDeviation="3" result="blur"/>
                    <feOffset in="blur" dx="0" dy="3" result="offsetBlur"/>
                    <feMerge>
                        <feMergeNode/>
                        <feMergeNode in="SourceGraphic"/>
                    </feMerge>
                </filter>
            </defs>
        </svg>
    </div>
    <script type="text/javascript">

        $(function () {

            var data = [];
            {% if statistics is defined and statistics %}
            {% for name,statistic in statistics %}
            data.push({
                'index': {{ loop.index }},
                'color': '{{ statistic.color }}',
                'label': '{{ statistic.name|raw }} ({{ statistic.value }})',
                'value': '{{ statistic.value }}'
            });
            {% endfor %}
            var statisticQuestionPie = $('#statistic_user_{{ question.id }}');
            if (statisticQuestionPie.length) {
                statisticQuestionPie.pie(data, {
                    width: 400,
                    height: 300,
                    radius_inner: 43
                });
            }
            {% endif %}
        });
    </script>
{% endif %}
