{{ form_errors(form) }}

{% if user is defined %}
    {% if user.focus is defined %}
        {% if user.focus.parentCategories is defined %}
            {% set categories = user.focus.parentCategories %}
            {% if categories|length > 1 %}
                <h3>{{ 'Fokus ändern'|trans({}, 'FitbaseUserBundle') }}</h3>
                <div class="panel-info">
                    <p>
                        Sie können die Reihenfolge Ihres persönlichen Online-Coachings verändern indem Sie einen Bereich
                        mit der linken Maustaste gedrückt halten und verschieben. Wenn Sie anschließend auf den Button
                        „Speichern und Coaching aktivieren“ klicken, startet der auf Platz 1 genannte Bereich.
                    </p>

                    {{ sonata_block_render({ 'type': 'fitbase.block.profile_focus' }) }}
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}

<h3>{{ "title_user_account" | trans({}, 'SonataUserBundle') }}</h3>

<div class="panel-info">

    <div class="panel-body">
        {% form_theme form _self %}

        {{ form(form, { 'attr': { 'class': 'form-horizontal' } }) }}

        {% if form.vars.submitted is defined and form.vars.submitted %}
            <script type="text/javascript">
                $(function () {
                    var container = $(document);
                    container.trigger({
                        type: 'form',
                        selector: 'form[name={{ form.vars.id }}]'
                    });
                });
            </script>
        {% endif %}

    </div>
</div>

<h3>{{ 'sonata_change_password_link'|trans({}, 'SonataUserBundle') }}</h3>

<div class="panel-info">

    <div class="panel-body">
        {% form_theme formPassword "MopaBootstrapBundle:Form:fields.html.twig" %}
        <form action="" method="POST" name="{{ formPassword.vars.id }}" class="form-horizontal">
            {{ form_widget(formPassword) }}

            {% if formPassword.vars.submitted is defined and formPassword.vars.submitted %}
                <script type="text/javascript">
                    $(function () {
                        var container = $(document);
                        container.trigger({
                            type: 'form',
                            selector: 'form[name={{ formPassword.vars.id }}]'
                        });
                    });
                </script>
            {% endif %}


            <button type="submit" class="btn btn-danger">
                <i class="icon-lock icon-white glyphicon glyphicon-lock"></i>&nbsp;{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
            </button>
        </form>
    </div>
</div>