{{ form_errors(form) }}

{% form_theme form _self %}


{% if user is defined %}
    {% if user.focus is defined %}
        {% if user.focus.parentCategories is defined %}
            {% set categories = user.focus.parentCategories %}
            {% if categories|length > 1 %}
                <div class="panel-info">
                    <h2>{{ 'Der Bereichpriorität ändern'|trans({}, 'FitbaseUserBundle') }}</h2>

                    <p>
                        Ihr persönliches Coaching verläuft nach folgender Reihenfolge. Sie können diese verändern, indem
                        Sie einen Bereich mit der linken Maustaste gedrückt halten und verschieben. Wenn Sie
                        anschließend auf den Button „Speichern und Coaching aktivieren“ klicken, startet der auf Platz 1
                        genannte Bereich.
                    </p>

                    {{ sonata_block_render({ 'type': 'fitbase.block.profile_focus' }) }}
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}

<div class="panel-info">
    <h2>{{ "title_user_account" | trans({}, 'SonataUserBundle') }}</h2>

    <div class="panel-body">
        <form action="" method="POST" class="form-horizontal">
            {{ form_widget(form) }}
        </form>
    </div>
</div>


<div class="row">
    <div class="panel-info">
        <h2>{{ 'sonata_change_password_link'|trans({}, 'SonataUserBundle') }}</h2>

        <div class="panel-body">
            {% form_theme formPassword "MopaBootstrapBundle:Form:fields.html.twig" %}
            <form action="" method="POST" class="form-horizontal">
                {{ form_widget(formPassword) }}
                <button type="submit" class="btn btn-danger">
                    <i class="icon-lock icon-white glyphicon glyphicon-lock"></i>&nbsp;{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
                </button>
            </form>
        </div>
    </div>
</div>