{% extends "FitbaseUserBundle::user.html.twig" %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group ">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group alert alert-warning">
                            {{ error.message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


{% block password_widget %}
    {% spaceless %}
        <div class="row">
            <div class="col-xs-12">
                <p>Ihr neues Passwort muss folgende Kriterien erfüllen: mind. 8 und max. 20 Zeichen, 1 Kleinbuchstabe, 1
                    Großbuchstabe, 1 Sonderzeichen und 1 Zahl müssen mind. enthalten sein.</p>
            </div>
        </div>

        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}

        <div class="row">
            <div class="col-xs-10">
                {{ form_row(form.current) }}
            </div>
        </div>

        <div class="row" id="validate-password">
            <div class="col-xs-10">
                {{ form_row(form.password) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="submit" value="Speichern" class="btn btn-primary">
            </div>
        </div>
    {% endspaceless %}
{% endblock password_widget %}



{% block content %}
    {% spaceless %}
        <h2>Passwort ändern</h2>

        {% for message in flashbag.get('password') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% form_theme form _self %}

        {{ form(form) }}
    {% endspaceless %}
{% endblock content %}