{% extends "FitbaseUserBundle::user.html.twig" %}




{% block form_rows -%}
    {% for child in form %}
        <div class="row">
            <div class="col-md-10">
                {{- form_row(child) -}}
            </div>
        </div>
    {% endfor %}
{%- endblock form_rows %}

{% block form_row -%}
    {{- form_label(form) -}}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
{%- endblock form_row %}

{% block button_row -%}
    <br/>
    {{- form_widget(form) -}}
{%- endblock button_row %}


{% block content %}
    {% spaceless %}
        <h2>Erinnerungsfunktion pausieren</h2>

        {% for message in flashbag.get('pause') %}
            <div class="row">
                <div class="col-md-10 alert alert-success">
                    {{ message }}
                </div>
            </div>
        {% endfor %}

        {% if pause_start %}
            <div class="row">
                <div class="col-md-10 alert alert-info">
                    Die Erinnerungfunktion wurde am {{ pause_start|date('d.m.Y') }} fuer {{ pause_wochen }} Wochen
                    pausiert.
                    Um die Pause zu beenden klicken sie <a href="?user_pause_stop=true">hier</a>
                </div>
            </div>
        {% endif %}

        {% form_theme form _self %}

        {{ form(form) }}
    {% endspaceless %}
{% endblock content %}