{% extends "FitbaseUserBundle::user.html.twig" %}


{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {{ label|trans({}, translation_domain) }}
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}


{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form) }}
            {{ form_widget(form) }}
        </div>
        {{ form_errors(form) }}
    {% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="form-group alert alert-warning">
                    {{ error.message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block profile_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% if form.parent is empty %}
                <div class="row">
                    <div class="col-md-12">
                        {{ form_errors(form) }}
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <h4>Persönliche Information</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.anrede) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.titel) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.vorname) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.nachname) }}
                </div>
            </div>
            {#<div class="row">#}
            {#<div class="col-md-12">#}
            {#{{ form_row(form.geburtsdatum) }}#}
            {#</div>#}
            {#</div>#}
            <div class="row">
                <div class="col-md-12">
                    <label>
                        {{ form_widget(form.showInStatistic) }}
                        {{ form_label(form.showInStatistic) }}
                        {{ form_errors(form.showInStatistic) }}
                    </label>
                </div>
            </div>
            {#<div class="row">#}
            {#<div class="col-md-12">#}
            {#<h4>Adresse Information</h4>#}
            {#</div>#}
            {#</div>#}
            {#<div class="row">#}
            {#<div class="col-md-6">#}
            {#{{ form_row(form.strasse) }}#}
            {#</div>#}
            {#<div class="col-md-6">#}
            {#{{ form_row(form.hausnummer) }}#}
            {#</div>#}
            {#</div>#}
            {#<div class="row">#}
            {#<div class="col-md-6">#}
            {#{{ form_row(form.postzahl) }}#}
            {#</div>#}
            {#<div class="col-md-6">#}
            {#{{ form_row(form.ort) }}#}
            {#</div>#}
            {#</div>#}
            <div class="row">
                <div class="col-md-12">
                    <h4>Kontakt Information</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.email) }}
                </div>
            </div>
            {#<div class="row">#}
            {#<div class="col-md-12">#}
            {#{{ form_row(form.phone) }}#}
            {#</div>#}
            {#</div>#}
            {#<div class="row">#}
            {#<div class="col-md-12">#}
            {#{{ form_row(form.handy) }}#}
            {#</div>#}
            {#</div>#}
        </div>
    {% endspaceless %}
{% endblock profile_widget %}


{% block button_row %}
    {% spaceless %}
        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock button_row %}

{% block content %}
    {% spaceless %}
        <h2>Profil bearbeiten</h2>
        <p>Geben Sie Änderungen an Ihrem Profil einfach in folgendes Formular ein.</p>

        {% for message in flashbag.get('profile') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% form_theme form _self %}

        {{ form(form) }}
    {% endspaceless %}
{% endblock content %}