{% extends "content.html.twig" %}

{% block title %}
    <h1>{{ 'gamification.start_page'|trans({}, 'FitbaseGamificationBundle') }}</h1>
{% endblock title %}

{% block breadcrumbs %}
    <div class="crumbs" style="padding: 0px;"></div>
{% endblock breadcrumbs %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            {{ sonata_block_render({ 'type': 'fitbase.block.gamification.dashboard_avatar' }) }}
        </div>
        <div class="col-md-4">
            {{ sonata_block_render({ 'type': 'fitbase.block.gamification.dashboard_focus' }) }}
        </div>
        <div class="col-md-4">
            {{ sonata_block_render({ 'type': 'fitbase.block.gamification.dashboard_activity' }) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {{ sonata_block_render({ 'type': 'fitbase.block.dashboard_forest' }) }}
        </div>
        <div class="col-md-4">
            {{ sonata_block_render({ 'type': 'fitbase.block.dashboard_statistics' }) }}
        </div>
        <div class="col-md-4">
            {{ sonata_block_render({ 'type': 'fitbase.block.knowledge.knowledge_user' }) }}
        </div>
    </div>
{% endblock content %}