<div class="panel panel-default">
    <div class="panel-body">
        <h4 class="short hue">
            {{ 'gamification.dashboard_tree'|trans({}, 'FitbaseGamificationBundle') }}
        </h4>
        <ul class="single-carousel owl-carousel owl-theme" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer autoHeight">
                <div class="owl-wrapper" style="left: 0px; display: block;">
                    <li>
                        <img title="{{ 'gamification.dashboard_tree'|trans({}, 'FitbaseGamificationBundle') }}"
                             src="{{ path('gamification_picture_tree') }}">
                    </li>
                </div>
            </div>
        </ul>
    </div>
    <div class="panel-footer">
        <p>
            {% if points is defined and points %}
                {{ 'gamification.dashboard_tree_info'|trans({ 'points': points }, 'FitbaseGamificationBundle') }}
            {% else %}
                {{ 'gamification.dashboard_tree_info_empty'|trans({}, 'FitbaseGamificationBundle') }}
            {% endif %}
        </p>
    </div>
</div>