<!-- Content Text-->
<div class="panel-box" style="min-height: 490px;">
    <div class="titles">
        <h4>{{ 'Medizinische Beratung'|trans({}, 'FitbaseGamificationBundle') }}</h4>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-5">
                    <img src="{{ asset('bundles/fitbasegamification/img/teledoc.png') }}">
                </div>
                <div class="col-md-7" style="padding-top: 10%;">
                    <h3>{{ 'Teledoktor'|trans({}, 'FitbaseGamificationBundle') }}</h3>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-md-12">
                    <p>{{ 'Wir helfen Ihnen bei medizinischen Fragen!'|trans({}, 'FitbaseGamificationBundle') }}</p>
                    <br/>
                </div>
                <div class="col-md-12">
                    <a href="callto:0800 333 1010" class="btn btn-primary btn-block">
                        {{ '0800 333 1010'|trans({}, 'FitbaseGamificationBundle') }}
                    </a>
                    <br/>
                </div>
                <div class="col-md-12">
                    <p>Sie können unseren Teledoktor jederzeit unter unserer kostenlosen Hotline kontaktieren.</p>
                </div>
            </div>

        </div>
    </div>
</div>
