<!-- Content Text-->
<div class="panel-box">
    <div class="titles">
        <h4>{{ 'gamification.dashboard_activity'|trans({}, 'FitbaseGamificationBundle') }}</h4>
    </div>
    <div class="row" style="min-height: 400px;">
        <div class="col-md-12">

            {% block content %}
                <div class="row">
                    <div class="col-xs-12">

                        <h5 class="short hue">
                            {{ 'gamification.dashboard_activity_exercises'|trans({}, 'FitbaseGamificationBundle') }}
                        </h5>

                        <p>{{ 'gamification.dashboard_activity_exercises_info'|trans({}, 'FitbaseGamificationBundle') }}</p>
                    </div>
                    <div class="col-xs-12">
                        <a href="{{ path('focus') }}" class="btn btn-primary btn-block">
                            {{ 'gamification.dashboard_activity_exercises_start'|trans({}, 'FitbaseGamificationBundle') }}
                        </a>
                    </div>
                </div>
            {% endblock %}
            <br/>

            <div class="row">
                <div class="col-xs-12">
                    <p>
                        {{ 'gamification.dashboard_activity_weeklytask_info'|trans({}, 'FitbaseGamificationBundle') }}
                    </p>
                </div>
                <div class="col-xs-12">
                    <a href="{{ path('weeklytask_dashboard') }}" class="btn btn-primary btn-block">
                        {{ 'gamification.dashboard_activity_weeklytask'|trans({}, 'FitbaseGamificationBundle') }}
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-12">

                <a href="{{ path('profile') }}" class="btn btn-default btn-block">
                    {{ 'gamification.dashboard_activity_focus_change'|trans({}, 'FitbaseGamificationBundle') }}
                </a>

            </div>
        </div>

    </div>
</div>