{% block form_errors %}
    {% spaceless %}
        {% if errors is defined and errors %}
            {% for error in errors %}
                <div class="form-group alert alert-warning">
                    {{ error.message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block button_row -%}
    {{- form_widget(form) -}}
{%- endblock button_row %}

{% block form_row -%}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
{%- endblock form_row %}

{% block checkbox_widget -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {{ label|raw }}
{%- endblock checkbox_widget %}

{% block reminder_widget %}
    {% spaceless %}

        <div class="row">
            <div class="col-xs-12">
                {% if form.parent is empty %}
                    {{ form_errors(form) }}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                {{- form_widget(form.sendWeeklytask) -}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{- form_widget(form.sendWeeklyquiz) -}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <br>
                {{ form_rest(form) }}
                {{ form_row(form.save) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock reminder_widget %}