<div class="panel-info">
    {#<h2>{{ 'Fokus einstellungen'|trans({}, 'FitbaseUserBundle') }}</h2>#}

    <div class="row">
        <div class="col-xs-6">
            <h3>{{ 'exercise.exercise_category_back_focus'|trans({}, 'FitbaseExerciseBundle') }}</h3>
            {{ 'exercise.exercise_category_back_focus_info'|trans({}, 'FitbaseExerciseBundle') }}
        </div>
        <div class="col-xs-6">
            <h3>{{ 'exercise.exercise_category_back_type'|trans({}, 'FitbaseExerciseBundle') }}</h3>
            {{ 'exercise.exercise_category_back_type_info'|trans({}, 'FitbaseExerciseBundle') }}
        </div>
    </div>

    {% form_theme form 'User/Focus/Block/CategorySettingsBackForm.html.twig' %}

    {{ form(form) }}
</div>
