{% extends "FitbaseReminderBundle::reminder.html.twig" %}
{% use "form_div_layout.html.twig" %}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="form-group alert alert-warning">
                    {{ error.message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block button_row -%}
    {{- form_widget(form) -}}
{%- endblock button_row %}

{% block checkbox_widget -%}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {{ label|raw }}
    </label>
{%- endblock checkbox_widget %}

{% block form_row -%}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
{%- endblock form_row %}



{% block reminder_widget %}
    {% spaceless %}

        <div class="row">
            <div class="col-md-12">
                {% if form.parent is empty %}
                    {{ form_errors(form) }}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{- form_widget(form.sendWeeklytask) -}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{- form_widget(form.sendWeeklyquiz) -}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
                {{ form_rest(form) }}
                {{ form_row(form.save) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock reminder_widget %}




{% block content %}
    {% spaceless %}

        {% for message in flashbag.get('reminder') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% form_theme form _self %}

        {{ form(form) }}

    {% endspaceless %}
{% endblock content %}