<div class="panel-box">

    <div class="titles">
        <h4>{{ "Empfehlungen" | trans({}, 'FitbaseExerciseBundle') }}</h4>
    </div>

    {% for exerciseChoice in collection %}

        {% set exercise = exerciseChoice.exercise %}

        {% block exercise_list_item %}
            <div class="post-item">
                <ul class="single-carousel owl-carousel owl-theme" style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer autoHeight">
                        <div class="owl-wrapper" style="left: 0px; display: block;">
                            <div class="owl-item">
                                <li>
                                    <a href="{{ path('exercise', { 'unique': exercise.id}) }}">
                                        {% thumbnail exercise.image, 'thumbnail'  with {'width': '360px', 'title': null, 'class': 'img-responsive' } %}
                                    </a>

                                    <div class="info-single-carousel">
                                        <h4>
                                            <a href="{{ path('exercise', { 'unique': exercise.id}) }}">
                                                {{ exercise.name }}
                                            </a>
                                        </h4>

                                        <p>
                                            {{ exercise.description|raw|striptags|slice(0,100) }}...
                                            <a href="{{ path('exercise', { 'unique': exercise.id}) }}">
                                                {{ "Mehr..." | trans({}, 'FitbaseExerciseBundle') }}
                                            </a>
                                        </p>
                                    </div>
                                </li>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        {% endblock exercise_list_item %}
    {% endfor %}
</div>
