{% for exerciseChoice in collection %}

    {% set exercise = exerciseChoice.exercise %}

    {% block exercise_list_item %}
        <div class="panel-box">

            <div class="titles title-image-bottom">
                <h4>{{ exercise.name }}</h4>
            </div>
            <div class="post-item">
                <ul class="single-carousel owl-carousel owl-theme" style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer autoHeight">
                        <div class="owl-wrapper" style="left: 0px; display: block;">
                            <li>
                                {% if exercise is defined and exercise %}
                                    <a href="{{ path('exercise', { 'unique': exercise.id}) }}">
                                        {% thumbnail exercise.image, 'original'  with {'title': null, 'class': 'img-responsive' } %}
                                    </a>
                                {% endif %}

                                <div class="info-single-carousel">
                                    <p>
                                        {% if exercise is defined and exercise %}
                                            {% autoescape false %}
                                            {{ exercise.description|raw|striptags|slice(0,150) }}...
                                            {% endautoescape %}

                                            <a href="{{ path('exercise', { 'unique': exercise.id}) }}">
                                                {{ "exercise.exercise_more" | trans({}, 'FitbaseExerciseBundle') }}
                                            </a>
                                        {% endif %}
                                    </p>
                                </div>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    {% endblock exercise_list_item %}
{% endfor %}

