<!-- Content Text-->
<div class="panel-box exercise">
    {% block exercise_list_title %}
        <div class="titles">
            <h4>{{ category }}</h4>
        </div>
    {% endblock exercise_list_title %}

    {% set limit = 3 %}


    {% if collection|length > 0 %}
        {% for exerciseChoice in collection | slice(0,limit) %}
            {#override exercuse for current block#}
            {% set exercise = exerciseChoice.exercise %}

            {% block exercise_list_item %}
                <div class="post-item">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-hover">
                                {% if exercise is defined and exercise %}
                                    {% thumbnail exercise.image, 'original'  with { 'title': null, 'class': 'img-responsive' } %}

                                    <div class="overlay">
                                        <a href="{{ path('exercise', { 'unique': exercise.id}) }}">+</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4>
                                {% if exercise is defined and exercise %}
                                    <a href="{{ path('exercise', { 'unique': exercise.id}) }}">
                                        {{ exercise.name }}
                                    </a>
                                {% endif %}
                            </h4>

                            <p>
                                {% if exercise is defined and exercise %}

                                    {% autoescape false %}
                                    {{ exercise.description|raw|striptags|slice(0,310) }}...
                                    {% endautoescape %}

                                    <a href="{{ path('exercise', { 'unique': exercise.id}) }}">
                                        {{ "exercise.exercise_more" | trans({}, 'FitbaseExerciseBundle') }}
                                    </a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endblock exercise_list_item %}
        {% endfor %}



        {% if collection|length > limit %}
            <div class="post-items-content" style="display: none;">
                {% for exerciseChoice in collection | slice(limit,null) %}
                    {% set exercise = exerciseChoice.exercise %}

                    <div class="post-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="img-hover">
                                    {% if exercise is defined and exercise %}
                                        {% thumbnail exercise.image, 'original'  with { 'title': null, 'class': 'img-responsive' } %}

                                        <div class="overlay">
                                            <a href="{{ path('exercise', { 'unique': exercise.id}) }}">+</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h4>
                                    {% if exercise is defined and exercise %}
                                        <a href="{{ path('exercise', { 'unique': exercise.id}) }}">
                                            {{ exercise.name }}
                                        </a>
                                    {% endif %}
                                </h4>

                                <p>
                                    {% if exercise is defined and exercise %}
                                        {% autoescape false %}
                                        {{ exercise.description|raw|striptags|slice(0,310) }}...
                                        {% endautoescape %}
                                        <a href="{{ path('exercise', { 'unique': exercise.id}) }}">
                                            {{ "exercise.exercise_more" | trans({}, 'FitbaseExerciseBundle') }}
                                        </a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="post-item">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="#" class="post-items-trigger btn btn-default">
                            {{ "exercise.exercise_more_exercises" | trans({}, 'FitbaseExerciseBundle') }}
                        </a>
                    </div>
                </div>
            </div>

        {% endif %}



    {% else %}

        {% block exercise_list_empty %}
            <!-- Empty content Text-->
            <div class="post-item">
                <div class="row">
                    <div class="col-md-12">
                        {{ "exercise.exercise_choices_empty" | trans({}, 'FitbaseExerciseBundle') }}
                    </div>
                </div>
            </div>
            <!-- End Empty Content Text-->
        {% endblock exercise_list_empty %}

    {% endif %}
</div>
<!-- End Content Text-->