<table class="table table-striped table-hover table-responsive">
    <thead>
    <tr>
        <th class="manage-column">{{ "reminder.day" | trans({}, 'FitbaseReminderBundle') }}</th>
        <th class="manage-column">{{ "reminder.time" | trans({}, 'FitbaseReminderBundle') }}</th>
        <th class="manage-column">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% if collection|length > 0 %}
        {% for item in collection %}
            <tr>
                <td>{{ item.day|day | trans({}, 'FitbaseReminderBundle') }}</td>
                <td>{{ item.time|date('H:i') }}</td>
                <td>
                    <a href="?uniqueitem={{ item.id }}">
                        {{ "reminder.remove_element" | trans({}, 'FitbaseReminderBundle') }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        <tr style="background: #f2f0f0;">
            <td><b>{{ "reminder.total" | trans({}, 'FitbaseReminderBundle') }}: {{ collection|length }}</b></td>
            <td colspan="2"></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">
                {{ "reminder.list_empty" | trans({}, 'FitbaseReminderBundle') }}
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>


{% if form is defined and form %}
    {% if form.vars is defined %}
        {% if form.vars.submitted %}

            <div class="opened"></div>
        {% endif %}
    {% endif %}

    {% form_theme form "Reminder/Block/ReminderExerciseForm.html.twig" %}

    {{ form(form) }}
{% endif %}

<br/>