{{ sonata_block_render_event('breadcrumb', { 'context': 'weeklytasks', 'current_uri': app.request.requestUri }) }}

<div class="row">
    <div class="col-xs-6">
        <img src="/image/infoeinheiten.jpg" alt="frau-stretching-300x285"/>
    </div>
    <div class="col-xs-6">

        Die Fitbase unterstützt Sie dabei, <strong>Ihre Lebensweise aktiver, bewusster und gesünder</strong>
        zu gestalten. Dazu schicken
        wir Ihnen <strong>regelmäßig kurze Infoeinheiten</strong>. Die Infoeinheiten sind thematisch aufeinander
        aufgebaut und stellen Ihnen zudem auch umfassendes Wissen zur Verfügung.

        <div class="row">
            <div class="col-xs-8">
                <h4>Ihre gesammelten Punkte:</h4>
            </div>
            <div class="col-xs-4">
                <h4><strong>{{ countDonePoints }}</strong></h4>
            </div>
            <div class="col-xs-8">
                <h4>Ihre erledigten Infoeinheiten:</h4>
            </div>
            <div class="col-xs-4">
                <h4><strong>{{ countDone }}</strong></h4>
            </div>
        </div>

    </div>
</div>

<h2>Übersicht Infoeinheiten</h2>

<div class="row">
    <div class="col-xs-12 top10">

        <table class="table table-striped table-hover table-responsive">
            <thead>
            <tr>
                <th>Infoeinheit</th>
                <th>Fokus</th>
                <th>Datum</th>
                <th>Quiz</th>
                <th>Punkte</th>
            </tr>
            </thead>
            <tbody>
            {% if collection|length > 0 %}
                {% for task in collection %}
                    {% if task is defined and task %}
                        {% set quiz = task.userQuiz %}

                        <tr>
                            <td class="shade">
                                <a href="{{ path('weeklytask_user_view', { 'unique': task.id } ) }}">
                                    {{ task.task }}
                                </a>
                            </td>
                            <td class="shade center">
                                {% if task.task is defined and task.task %}
                                    {% set weeklytask = task.task %}
                                    {% if weeklytask.categories is defined and weeklytask.categories %}
                                        {% for category in weeklytask.categories %}
                                            {% if loop.index > 1 %}
                                                ,
                                            {% endif %}
                                            {{ category }}
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class="shade center">
                                {% if task.date is defined and task.date %}
                                    {{ task.date|date('d.m.Y') }}
                                {% endif %}
                            </td>
                            <td class="shade center">

                                {% if quiz is defined and quiz %}
                                    <a href="{{ path('weeklyquiz_user_view', { 'unique': quiz.id } ) }}">
                                        Zum Quiz
                                    </a>
                                {% endif %}

                            </td>
                            <td class="shade center" width="25%">
                                {% set taskPoints = 0 %}
                                {% set quizPoints = 0 %}
                                <div class="row">
                                    {% if task is defined and task %}
                                        {% set taskPoints = task.countPoint %}
                                        <div class="col-xs-6">
                                            Infoeinheit:
                                        </div>
                                        <div class="col-xs-6">
                                            {{ taskPoints }}&nbsp;
                                        </div>
                                    {% endif %}
                                    {% if quiz is defined and quiz %}
                                        {% set quizPoints = quiz.countPoint %}
                                        <div class="col-xs-6">
                                            Quiz:
                                        </div>
                                        <div class="col-xs-6">
                                            {{ quizPoints }}&nbsp;
                                        </div>
                                    {% endif %}
                                    <div class="col-xs-6">
                                        <b>Gesamt:</b>
                                    </div>
                                    <div class="col-xs-6">
                                        <b>{{ taskPoints + quizPoints }}&nbsp;</b>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr style="background: #f2f0f0;">
                    <td nowrap><b>Gesamt: {{ collection|length }}</b></td>
                    <td colspan="6"></td>
                </tr>
            {% else %}
                <tr style="background: #f2f0f0;">
                    <td colspan="7">Keine Aufgaben wurde bearbeitet</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>