<!DOCTYPE HTML>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <style type="text/css">
        body {
            color: #444444;
            background: #f2f2f2;
            text-align: center;
            font-size: 12px;
            padding: 20px;
        }

        p, td {
            font-size: 13px;
            line-height: 19px;
            color: #444444;
            margin: 0;
            font-family: 'Arial', sans-serif;
        }

        p {
            margin-bottom: 10px;
        }

        #main-box {
            background: #fffffff;
            width: 540px;
            text-align: left;
            text-align: center;
        }

        .text-div {
            text-align: left;
        }

        .spacer {
            margin-top: 20px;
        }

        p.light {
            color: #aaaaaa;
        }

        p.light a {
            color: #999999;
        }
    </style>
</head>
<body>

<table bgcolor="#FFFFFF" cellspacing="20" align="center">
    <tr>
        <td>
            <table id="main-box" cellspacing="5">
                <tr>
                    <td><img src="{{ asset('/wp-content/uploads/email/logo.png') }}" width="150"/></td>
                <tr>
                <tr>
                    <td>
                        <div class="text-div">
                            <p>Guten Tag {{ firstName }} {{ lastName }},</p>

                            <p>Sie haben das Zurücksetzen Ihres Passworts für Online-Rückenschule.de beantragt. Um Ihr
                                Passwort zurückzusetzen, klicken Sie bitte auf folgenden Button:</p>

                            <p style="text-align: center;">
                                <a href="{{ asset('/login') }}">
                                    <img src="{{ asset('/wp-content/plugins/fitbase/assets/img/button_reset_password.png') }}"
                                         width="175">
                                </a>
                            </p>

                            <p>Wir wünschen Ihnen viel Spaß!</p>

                            <p>Ihr Online-Rückenschule Team</p>

                            <p>Sie haben Fragen zu „Online-Rückenschule“? Kein Problem, wir stehen Ihnen gerne unter <a
                                        href="mailto:info@online-rueckenschule.de">info@online-rueckenschule.de</a> zur
                                Verfügung</p>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>