{% extends '::email.html.twig' %}

{% block content %}
    <div class="row" style="min-height: 300px;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="text-div">

                {% if user is defined and user %}
                    <p>Guten Tag {{ user.firstname }} {{ user.lastname }},</p>
                {% endif %}
                <br/>

                willkommen bei fitbase! In dieser Email erhalten Sie Ihre Zugangsdaten, die Sie bei Ihrem nächsten
                Besuch auf fitbase.de nutzen können. Bei Fragen besuchen Sie bitte unsere FAQs oder kontaktieren uns
                unter <a href="mailto:info@fitbase.de">info@fitbase.de</a>.

                <br/>
                <br/>

                <strong>Ihre Zugangsdaten</strong>
                <br/>

                Mit den folgenden Zugangsdaten können Sie sich auf Fitbase
                <a href="{{ url('sonata_user_security_login') }}">
                    einloggen
                </a>.

                <br/>
                <br/>
                <table>
                    <tr>
                        <td>E-Mail-Adresse:</td>
                        <td width="10"></td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td>Benutzername:</td>
                        <td width="10"></td>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td>Passwort:</td>
                        <td width="10"></td>
                        <td>{{ user.plainPassword }}</td>
                    </tr>
                </table>
                <br/>
                <br/>
                Viel Spaß und Erfolg wünscht das Team von Fitbase.<br/>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock content %}