<div class="col-md-8">

    {% for image in post|images %}
        <div class="col-md-6 exercise-picture">
            <a href="{{ image|raw }}" class="exercise-picture-zoom">
                <img src="{{ image|raw }}"/></a>
            <span class="label label-default">{{ loop.index }}</span>
        </div>
    {% endfor %}


    <ul class="pagination">
        %%link1%% %%siblings%% %%link2%%
    </ul>
    <div style="display: none;">
        <div id="video_id">
            {{ post.id }}
        </div>
        <div id="update_statistic_nonce">
            {{ post|token }}
        </div>
        <div id="fallback">true</div>
    </div>
</div>