{% block form_label -%}
    {% if label is not sameas(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif %}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|raw }}</label>
    {%- endif %}
{%- endblock form_label %}


{% block form_row %}
    {% spaceless %}
        {{ form_widget(form) }}
    {% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group alert alert-warning">
                            {{ error.message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_rows %}
    {% spaceless %}
        <table class="table table-hover">
            <tbody>
            {% for child in form %}
                {{ form_row(child) }}
            {% endfor %}
            </tbody>
        </table>
    {% endspaceless %}
{% endblock form_rows %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <table {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <tr class="{% if multiple %}checkbox{% else %}radio{% endif %}">
                    <td>
                        {{ form_widget(child) }}
                    </td>
                </tr>
                {{ form_errors(child) }}
            {% endfor %}
        </table>
    {% endspaceless %}
{% endblock choice_widget_expanded %}


{% block text_labeled_widget %}
    {% spaceless %}
        <div class="col-xs-4">
            {% set type = type|default('text') %}
            {{ block('form_widget_simple') }}
        </div>
        <label style="padding-left: 0px; padding-top: 7px;" class="col-xs-8 control-label">{{ text }}</label>
    {% endspaceless %}
{% endblock text_labeled_widget %}

{% block weeklytask_question_widget %}
    {% spaceless %}
        <tr>
            <td class="col-xs-4">
                <h4>{{ label|raw }}</h4>
                {{ description|raw }}
            </td>
            <td class="col-xs-8">
                <div class="form-group">
                    {{- block('choice_widget_expanded') -}}
                </div>
            </td>
        </tr>
    {% endspaceless %}
{% endblock weeklytask_question_widget %}


{% block radio_widget -%}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {{ label|raw }}
    </label>
{%- endblock radio_widget %}


{% block checkbox_widget -%}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {{ label|raw }}
    </label>
{%- endblock checkbox_widget %}


{% block form_widget_compound %}
    {% spaceless %}
        <div class="modal-body" {{ block('widget_container_attributes') }}>
            <div class="row">
                <div class="col-xs-12 errors">
                    {% if form.parent is empty %}
                        {{ form_errors(form) }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ block('form_rows') }}
                    {{ form_rest(form) }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            {% if userQuiz is defined and userQuiz %}
                {% if not userQuiz.done %}
                    <button class="btn btn-primary" name="save" id="weeklytask_user_quiz_answer_save" type="submit">
                        {{ "weeklytask.weeklyquiz_evaluate" | trans({}, 'FitbaseWeeklytaskBundle') }}
                    </button>
                {% endif %}
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock form_widget_compound %}
