{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block breadcrumb %}
    <li>
        <a href="{{ url('sonata_admin_dashboard') }}">
            {% trans %}Dashboard{% endtrans %}
        </a>
    </li>
    <li class="active">Import Actioncodes</li>
{% endblock %}



{% block navbar_title %}
    {{ "Import Actioncodes"|trans({}, 'SonataAdminBundle') }}
{% endblock %}

{% block flush %}
    {% if app is defined and app.session is defined %}
        {% for success in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ success }}
            </div>
        {% endfor %}
        {% for notice in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ notice }}
            </div>
        {% endfor %}
        {% for error in app.session.flashbag.get('error') %}
            <div class="alert alert-success">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock flush %}


{% block content %}
    <div class="sonata-ba-form-error">
        {{ block('flush') }}
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="box box-success">
                <div class="box-header">
                    <h4 class="box-title">
                        {{ "Import Actioncodes"|trans({}, 'SonataAdminBundle') }}
                    </h4>
                </div>
                <div class="box-body">
                    <div class="sonata-ba-collapsed-fields">
                        {% form_theme form 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock content %}