{% extends 'SonataAdminBundle::standard_layout.html.twig' %}


{% block sonata_page_content_nav %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <span class="navbar-brand">
                {{ "Benutzer importieren"|trans({}, 'FitbaseUserBundle') }}
            </span>
        </div>
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown sonata-actions">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a class="sonata-action-element" href="#">
                                <i class="fa fa-plus-circle"></i>
                                {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
{% endblock sonata_page_content_nav %}


{% block sonata_admin_content %}

    {% block notice %}
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    {% endblock notice %}

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">

                <div class="box box-success">
                    <div class="box-header">
                        <h4 class="box-title">
                            {{ "General"|trans({}, 'SonataAdminBundle') }}
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="sonata-ba-collapsed-fields">


                            {#{% form_theme form 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}#}
                            {#{{ form(form) }}#}


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock sonata_admin_content %}