{% block button_row -%}
    {{- form_widget(form) -}}
{%- endblock button_row %}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="form-group alert alert-warning">
                    {{ error.message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block boolean_buttons_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {{- form_widget(form) -}}
            <button class="true btn btn btn-info btn-ds" style="margin: 7px; width: 60px" type="submit">
                Ja
            </button>
            <button class="false btn btn btn-info btn-ds" style="margin: 7px; width: 60px" type="submit">
                Nein
            </button>
        </div>
        <script type="text/javascript">
            $(function () {
                var container = $('div[id={{ id }}]');
                if (container.is('div')) {
                    container.find('button').on('click', function (event) {
                        var input = container.find('input');
                        input.val($(this).hasClass('true') ? 1 : 0);
                    });
                }
            });
        </script>
    {% endspaceless %}
{% endblock boolean_buttons_widget %}


{% block gamification_dialog_user_answer_widget %}
    {% spaceless %}
        {% if feedback is defined %}
            {% if feedback is null %}
                <p>Ein schöner Sommerurlaub</p>
            {% else %}
                <p>{{ feedback }}</p>
            {% endif %}
        {% endif %}
        {{- block('form_widget_compound') -}}
    {% endspaceless %}
{% endblock gamification_dialog_user_answer_widget %}


{% block gamification_user_emotion_widget %}
    {% spaceless %}
        {{- block('form_widget_compound') -}}
    {% endspaceless %}
{% endblock gamification_user_emotion_widget %}
