{% extends "content.html.twig" %}

{% block title %}
    <h1>
        {% if exercise is defined %}
            {{ exercise.name }}
        {% endif %}
    </h1>
{% endblock title %}

{% block breadcrumbs %}
    {{ sonata_block_render_event('breadcrumb', { 'context': 'exercise', 'current_uri': app.request.requestUri }) }}
{% endblock breadcrumbs %}

{% block content %}


    <div class="row">

        {% set width='620' %}
        {% set height='320' %}

        {% set mp4=null %}
        {% set webm=null %}
        {% set medias=null %}

        {% if exercise is defined and exercise %}
            {% set mp4=exercise.mp4 %}
            {% set webm=exercise.webm %}
            {% if exercise.gallery is defined and exercise.gallery %}
                {% set medias=exercise.gallery.galleryHasMedias %}
            {% endif %}
        {% endif %}

        {% if (mp4 or webm) or  medias %}
            <div class="col-md-7">

                <div class="panel-box">
                    <div class="titles">
                        <h4>
                            {% if exercise is defined %}
                                {{ exercise.name }} - Media
                            {% endif %}
                        </h4>
                    </div>

                    <div class="row">

                        {% if mp4 or webm %}
                            <div class="col-md-12">
                                {% block exercise_video %}
                                    <video style="max-width: {{ width }}" controls autoplay class="img-responsive">
                                        <source src="{{ video(mp4) }}" type="video/mp4"/>
                                        <source src="{{ video(webm) }}" type="video/webm"/>
                                        <object class="flashplayer"
                                                style="max-width: {{ width }};max-height: {{ height }}"
                                                type="application/x-shockwave-flash"
                                                data="/flash/player.swf?v1.3.5">
                                            <param name="movie" value="/flash/player.swf?v1.3.5"/>
                                            <param name="quality" value="high"/>
                                            <param name="menu" value="false"/>
                                            <param name="scale" value="noscale"/>
                                            <param name="allowfullscreen" value="true">
                                            <param name="allowscriptaccess" value="always">
                                            <param name="swlivevonnect" value="true"/>
                                            <param name="cachebusting" value="false">
                                            <param name="flashvars"
                                                   value="skin=/flash/skins/mySkin.swf&video={{ video(mp4) }}&autoplay=1"/>
                                        </object>

                                        <script type="text/javascript">
                                            $(function () {
                                                var flashplayer = $('.flashplayer');
                                                if (!flashplayer.flash()) {
                                                    flashplayer.remove();
                                                }
                                            });
                                        </script>
                                    </video>
                                {% endblock exercise_video %}
                            </div>
                        {% endif %}

                        {% if medias %}
                            <div class="col-md-12">
                                {% block exercise_picture %}
                                    <div class="row">
                                        {% for hasMedia in medias %}
                                            <div class="col-xs-6">
                                                <span class="label label-default">
                                                    {{ loop.index }}
                                                </span>
                                                <a href="{% path hasMedia.media, 'original' %}">
                                                    {% thumbnail hasMedia.media, 'original'  with { 'height': '360px', 'title': null, 'class': 'img-responsive' } %}
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endblock exercise_picture %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="{% if (mp4 or webm) or  medias %}col-md-5{% else %}col-md-9{% endif %}">

            {% block exercise_text %}
                <div class="panel-box" style="min-height: 410px;">
                    <div class="titles">
                        <h4>
                            {% if exercise is defined %}
                                {{ exercise.name }} - Inhalte
                            {% endif %}
                            <span style="float: right;">
                                {{ sonata_block_render({ 'type': 'fitbase.block.exercise.user_choice' }, { 'exercise': exercise }) }}
                            </span>
                        </h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% if exercise is defined %}
                                {{ exercise.description|raw }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endblock exercise_text %}

            {% include 'Exercise/ExerciseDone.html.twig' with { 'exercise': exercise } %}
        </div>

        {% if not mp4 and not webm and not medias %}
            <div class="col-md-3">
                {{ sonata_block_render({ 'type': 'fitbase.block.exercise_collection' }, {
                'categories': exercise.categories
                }) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

