<!DOCTYPE HTML>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <style type="text/css">
        body {
            color: #444444;
            background: #f2f2f2;
            text-align: center;
            font-size: 12px;
            padding: 20px;
        }

        p, td {
            font-size: 13px;
            line-height: 19px;
            color: #444444;
            margin: 0;
            font-family: 'Arial', sans-serif;
        }

        p {
            margin-bottom: 10px;
        }

        #main-box {
            background: #fffffff;
            width: 540px;
            text-align: left;
            text-align: center;
        }

        .text-div {
            text-align: left;
        }

        .spacer {
            margin-top: 20px;
        }

        p.light {
            color: #aaaaaa;
        }

        p.light a {
            color: #999999;
        }

        td.button {
            background-color: #f2f2f2;
            padding: 10px 20px 10px 20px;
            moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

        td.button a {
            font-weight: bold;
            text-decoration: none;;
        }

        table.statistics {
            background: #efefef;
            text-align: left;
            margin-top: 14px;
            width: 100%;
            padding: 7px 10px;
        }
    </style>
</head>
<body>

<table bgcolor="#FFFFFF" cellspacing="20" align="center">
    <tr>
        <td>
            <table id="main-box" cellspacing="5">
                <tr>
                    <td><img src="{{ userLogo(user) }}"/>
                <tr>
                <tr>
                    <td>
                        <div class="text-div">
                            <p>Guten Tag {{ first_name }} {{ last_name }},</p>

                            <p>wir möchten Sie an Ihre Rücken-Übung erinnern. Bitte <em>klicken Sie auf den Bereich
                                    Ihrer Wahl, um direkt zur Übung zu gelangen.</em></p>

                            <p>Wir wünschen Ihnen viel Spaß!</p>

                            <p>Ihr Fitbase Team</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <table border="0" align="center" cellspacing="7">
                            <tr>
                                <td class="button">
                                    <a href="{{ asset('/') }}?user_id={{ user.id }}&login_code={{ reminder_code }}&redirect_to_child=443">
                                        Schulter-Nacken
                                    </a>
                                </td>
                                <td class="button">
                                    <a href="{{ asset('/') }}?user_id={{ user.id }}&login_code={{ reminder_code }}&redirect_to_child=451">
                                        RSI Prävention
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="button">
                                    <a href="{{ asset('/') }}?user_id={{ user.id }}&login_code={{ reminder_code }}&redirect_to_child=445">
                                        Mittlerer Rücken
                                    </a>
                                </td>
                                <td class="button">
                                    <a href="{{ asset('/') }}?user_id={{ user.id }}&login_code={{ reminder_code }}&redirect_to_child=453">
                                        Thera-Band
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="button">
                                    <a href="{{ asset('/') }}?user_id={{ user.id }}&login_code={{ reminder_code }}&redirect_to_child=447">
                                        Unterer Rücken
                                    </a>
                                </td>
                                <td class="button">
                                    <a href="{{ asset('/') }}?user_id={{ user.id }}&login_code={{ reminder_code }}&redirect_to_child=449">
                                        Augen
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center" class="button" style="background-color:#33CC66;">
                                    <a href="{{ asset('/') }}?user_id={{ user.id }}&login_code={{ reminder_code }}&redirect_to_focus=true">
                                        Heutige Übung starten
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <p>
                            <a href="{{ asset('/mitgliederbereich/profil/') }}?user_id={{ user.id }}&login_code={{ reminder_code }}">
                                Erinnerungsemail-Einstellungen
                            </a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <p>
                            <a href="{{ asset('/mitgliederbereich/profil/') }}?user_id={{ user.id }}&login_code={{ reminder_code }}">
                                Erinnerung pausieren
                            </a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <table class="statistics">
                            <tr>
                                <td><p><b>Letzte Übung</b></p></td>
                                <td width="30"></td>
                                <td><p><b>Übungen diese Woche</b></p></td>
                                <td width="30"></td>
                                <td><p><b>Übungen gesamt</b></p></td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        {% if last_view %}
                                            {{ last_view|date('d.m.Y') }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </p>
                                </td>
                                <td width="30"></td>
                                <td><p>{{ views_week }}</p></td>
                                <td width="30"></td>
                                <td><p>{{ views_total }}</p></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>