{% block form_label -%}
    {% if label is not sameas(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif %}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|raw }}</label>
    {%- endif %}
{%- endblock form_label %}

{% block form_row %}
    {% spaceless %}
        {{ form_widget(form) }}
    {% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group alert alert-warning">
                            {{ error.message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_rows %}
    {% spaceless %}
        {% for child in form %}
            {{ form_row(child) }}
        {% endfor %}
    {% endspaceless %}
{% endblock form_rows %}

{% block avatar_widget %}
    {% spaceless %}

        <div class="row featured-boxes">
            <div class="col-sm-6 col-md-3 column_first" style="width: 19.667%">
                <div class="featured-box featured-box-primary">
                    <div class="box-content">
                        <a href="#" class="avatar" id="monkey">
                            {% if monkey is defined %}
                                {{ avatar(monkey, 100)|raw }}
                            {% endif %}
                        </a>
                        <h4>Der geschickte Affe</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" style="width: 19.667%">
                <div class="featured-box featured-box-secundary">
                    <div class="box-content">
                        <a href="#" class="avatar" id="bear">
                            {% if bear is defined %}
                                {{ avatar(bear, 100)|raw }}
                            {% endif %}
                        </a>
                        <h4>Der starke Bär</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" style="width: 19.667%">
                <div class="featured-box featured-box-tertiary">
                    <div class="box-content">
                        <a href="#" class="avatar" id="deer">
                            {% if deer is defined %}
                                {{ avatar(deer, 100)|raw }}
                            {% endif %}
                        </a>
                        <h4>Der schnelle Hirsch</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" style="width: 19.667%">
                <div class="featured-box featured-box-tertiary">
                    <div class="box-content">
                        <a href="#" class="avatar" id="crane">
                            {% if crane is defined %}
                                {{ avatar(crane, 100)|raw }}
                            {% endif %}
                        </a>
                        <h4>Der anmutende Kranich</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" style="width: 19.667%">
                <div class="featured-box featured-box-quaternary">
                    <div class="box-content">
                        <a href="#" class="avatar" id="tiger">
                            {% if tiger is defined %}
                                {{ avatar(tiger, 100)|raw }}
                            {% endif %}
                        </a>
                        <h4>Der kräftige Tiger</h4>
                    </div>
                </div>
            </div>
        </div>

        {% set type='hidden' %}
        {{ block('form_widget_simple') }}
        <script type="text/javascript">
            jQuery(function () {
                jQuery(document).on('click', 'a.avatar', function (event) {
                    var element = jQuery(this);
                    var form = element.closest('form');
                    form.find('input[type=hidden]').val(element.attr('id'));
                    form.submit();
                    return false;
                });
            });
        </script>
    {% endspaceless %}
{% endblock avatar_widget %}

{% block form_widget_compound %}
    {% spaceless %}
        <div class="modal-body" {{ block('widget_container_attributes') }}>
            <div class="row">
                <div class="col-md-12 errors">
                    <p class="modal-description">
                        Die Charaktere werden Sie durch die Fitbase begleiten und sind aus dem Qi Gong
                        abgeleitet. Wählen Sie nun einen Charakter Ihrer Wahl. Mit jeder durchgeführten Aktivität auf
                        der Fitbase sammeln Sie Punkte für Ihren Charakter,
                        damit wächst sein Baum, er entwickelt sich weiter und Sie stärken Ihre Gesundheit.
                    </p>
                    {% if form.parent is empty %}
                        {{ form_errors(form) }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ block('form_rows') }}
                    {{ form_rest(form) }}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock form_widget_compound %}
