{% extends "FitbaseReminderBundle::reminder.html.twig" %}


{% block content %}

    <div class="wrap" style="margin: 11px 15px 0px 15px;">
        <h2>
            Erinnerungen
        </h2>

        {% for message in flashbag.get('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}


        <h2>
            Kommende Erinnerungen
        </h2>

        <p> Diese Erinnerungen werden heute abgeschickt. Wann sie abgeschickt werden, kann man im Feld "Date"
            sehen. </p>

        <form method="get">
            <table class="wp-list-table widefat">
                <thead>
                <tr>
                    <th class="manage-column">Id</th>
                    <th class="manage-column">Benutzer</th>
                    <th class="manage-column">Date</th>
                    <th class="manage-column">Status</th>
                    <th class="manage-column">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% if plans|length > 0 %}
                    {% for plan in plans %}
                        <tr class="{{ loop.index is even ? 'alternate' : '' }}">
                            <td>{{ plan.id }}</td>
                            <td>{{ plan.userId|username }}</td>
                            <td>{{ plan.date|date('d.m.Y H:i:s') }}</td>
                            <td>{{ plan.processed|status }}</td>
                            <td><a href="?page=reminder_plan&reminder_plan_id={{ plan.id }}">verschicken</a></td>
                        </tr>
                    {% endfor %}
                    <tr style="background: #f2f0f0;">
                        <td><b>Total: {{ plans|length }}</b></td>
                        <td colspan="4"></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Keine Erinnerungen gefunden</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </form>
    </div>
    <div class="wrap" style="margin: 11px 15px 0px 15px;">

        <h2>
            Versendete Erinnerungen für die letzte 2 Wochen
        </h2>

        <p>
            Diese Erinnerungen wurden innerhalb den letzten 2 Wochen abgeschickt.
        </p>

        <form method="get">
            <table class="wp-list-table widefat fixed company">
                <thead>
                <tr>
                    <th class="manage-column">Id</th>
                    <th class="manage-column">Benutzer</th>
                    <th class="manage-column">Date</th>
                    <th class="manage-column">Status</th>
                    <th class="manage-column">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% if pagerfantaProcessed|length > 0 %}
                    {% for plan in pagerfantaProcessed %}
                        <tr class="{{ loop.index is even ? 'alternate' : '' }}">
                            <td>{{ plan.id }}</td>
                            <td>{{ plan.userId|username }}</td>
                            <td>{{ plan.date|date('d.m.Y H:i:s') }}</td>
                            <td>{{ plan.processed|status }}</td>
                            <td><a href="?page=reminder_plan&reminder_plan_id={{ plan.id }}">verschicken</a></td>
                        </tr>
                    {% endfor %}
                    <tr style="background: #f2f0f0;">
                        <td><b>Total: {{ pagerfantaProcessed|length }}</b></td>
                        <td colspan="4"></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Keine Erinnerungen gefunden</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            {% if pagerfantaProcessed.haveToPaginate %}
                <div class="tablenav bottom">
                    <div class="tablenav-pages">
                        <span class="displaying-num">{{ pagerfantaProcessed.nbResults }}</span>
                <span class="pagination-links">
                    {% if pagerfantaProcessed.hasPreviousPage %}
                        <a href="?page=reminder_plan&navigate=1" title="Zur ersten Seite gehen"
                           class="first-page ">«</a>
                        <a href="?page=reminder_plan&navigate={{ pagerfantaProcessed.previousPage }}"
                           title="Zur vorherigen Seite gehen" class="prev-page">‹</a>
                    {% else %}
                        <a title="Zur ersten Seite gehen" class="first-page ">«</a>
                        <a title="Zur vorherigen Seite gehen" class="prev-page disabled">‹</a>
                    {% endif %}
                    <span class="paging-input">{{ pagerfantaProcessed.currentPage }} von <span
                                class="total-pages">{{ pagerfantaProcessed.nbPages }}</span></span>
                    {% if pagerfantaProcessed.hasNextPage %}
                        <a href="?page=reminder_plan&navigate={{ pagerfantaProcessed.nextPage }}"
                           title="Zur nächsten Seite gehen" class="next-page">›</a>
                        <a href="?page=reminder_plan&navigate={{ pagerfantaProcessed.nbPages }}"
                           title="Zur letzten Seite gehen" class="last-page">»</a>
                    {% else %}
                        <a title="Zur nächsten Seite gehen" class="next-page disabled">›</a>
                        <a title="Zur letzten Seite gehen" class="last-page disabled">»</a>
                    {% endif %}
                </span>
                    </div>
                    <br class="clear">
                </div>
            {% endif %}
        </form>

        <br class="clear">
    </div>
    <div class="clear"></div>
{% endblock content %}
