<!-- Content Text-->
<div class="panel-box" style="min-height: 525px;">
    <div class="titles">
        <h4>{{ 'barmer_gek.teledoctor'|trans({}, 'FitbaseBarmerGekBundle') }}</h4>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-4">
                    <img src="{{ asset('bundles/fitbasegamification/img/teledoc.png') }}">
                </div>
                <div class="col-md-8">
                    <h4>{{ 'barmer_gek.teledoctor.description'|trans({}, 'FitbaseBarmerGekBundle') }}</h4>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-md-12">
                    <p>{{ 'barmer_gek.teledoctor.help'|trans({}, 'FitbaseBarmerGekBundle') }}</p>
                </div>
                <div class="col-md-12">
                    <a href="callto:{{ 'barmer_gek.teledoctor.telefon_nummer'|trans({}, 'FitbaseBarmerGekBundle') }}" class="btn btn-primary btn-block">
                        {{ 'barmer_gek.teledoctor.telefon'|trans({}, 'FitbaseBarmerGekBundle') }}
                        <br/>
                        <b>{{ 'barmer_gek.teledoctor.telefon_nummer'|trans({}, 'FitbaseBarmerGekBundle') }}</b>
                    </a>
                    <br/>
                </div>
                <div class="col-md-12">
                    <p>
                        {{ 'barmer_gek.teledoctor.info'|trans({}, 'FitbaseBarmerGekBundle') }}
                    </p>

                    <p>
                        <a href="https://www.barmer-gek.de/barmer/web/Portale/Versicherte/Rundum-gutversichert/Beratung/Persoenliche-Beratung/Teledoktor/Teledoktor__.html">
                            {{ 'barmer_gek.teledoctor.site'|trans({}, 'FitbaseBarmerGekBundle') }}
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
