{% use "form.html.twig" %}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="alert alert-danger">
                    {{ error.message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


{% block form_rows -%}
    {% for child in form %}
        {{- form_row(child) -}}
    {% endfor %}
{%- endblock form_rows %}

{% block form_row -%}
    <div class="row form-group">
        <div class="col-xs-12">
            {{- form_errors(form) -}}
            {{- form_label(form) -}}
        </div>
        <div class="col-xs-12">
            {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock form_row %}


{% block checkbox_widget -%}
    <div class="row">
        <div class="col-xs-1">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        </div>
        <div class="col-xs-11" style="padding-top: 10px;">

            {{ 'user.registration.i_agree_with'|trans({}, 'FitbaseUserBundle') }}

            <a href="https://fitbase.de/datenschutz-fitbase-nutzer/">
                {{ 'user.registration.privacy'|trans({}, 'FitbaseUserBundle') }}
            </a>

            {{ 'user.registration.and'|trans({}, 'FitbaseUserBundle') }}

            <a href="https://fitbase.de/teilnahmebedingungen/">
                {{ 'user.registration.terms_and_conditions'|trans({}, 'FitbaseUserBundle') }}
            </a>

            {{ 'user.registration.end'|trans({}, 'FitbaseUserBundle') }}
        </div>
    </div>
{%- endblock checkbox_widget %}



{% block button_row -%}
    <div class="row form-group">
        <div class="col-xs-12">
            {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock button_row %}