{% extends "content.html.twig" %}

{% block title %}
    <h1>{{ 'user.password_change'|trans({}, 'FitbaseUserBundle') }}</h1>
{% endblock title %}

{% block breadcrumbs %}
    <div class="crumbs">
        <div class="container">
            <ul>
                <li>{{ 'user.password_change'|trans({}, 'FitbaseUserBundle') }}</li>
            </ul>
        </div>
    </div>
{% endblock breadcrumbs %}


{% block content %}

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">


            <div class="panel-box">
                <div class="titles">
                    <h4>{{ 'user.password_change'|trans({}, 'FitbaseUserBundle') }}</h4>
                </div>
                <div class="row">
                    <div class="col-xs-12">


                        <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }}
                              method="POST" class="fos_user_resetting_reset form-theme">

                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p>{{ 'user.password_change_info'|trans({}, 'FitbaseUserBundle') }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            {% form_theme form _self %}

                            {% use "form_div_layout.html.twig" %}

                            {% block form_rows -%}
                                <div class="row">
                                    {% for child in form %}
                                        <div class="col-xs-12">
                                            {{- form_row(child, { 'attr': { 'class': 'form-control' } } ) -}}
                                        </div>
                                    {% endfor %}
                                </div>
                            {%- endblock form_rows %}


                            {{ form_row(form) }}


                            <div class="row">
                                <div class="col-xs-12">

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <input type="submit" id="_submit" name="_submit" class="btn btn-primary"
                                                   value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}"/>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
