{% extends "layout.html.twig" %}

{% use "content.html.twig" %}

{% block title %}
    <h1>{{ 'FitbaseUserBundle'|trans({}, 'FitbaseUserBundle') }}</h1>
{% endblock title %}

{% block breadcrumbs %}
    <div class="crumbs">
        <div class="container">
            <ul>
                <li>{{ 'user.login_now'|trans({}, 'FitbaseUserBundle') }}</li>
            </ul>
        </div>
    </div>
{% endblock breadcrumbs %}

{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- Content Text-->
            <div class="panel-box">
                <div class="titles">
                    <h4>{{ 'user.login_now'|trans({}, 'FitbaseUserBundle') }}</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ 'user.login_now_info'|trans({}, 'FitbaseUserBundle') }}</p>
                        {% form_theme form 'User/RegistrationForm.html.twig' %}
                        {{ form(form) }}
                    </div>
                </div>
            </div>
            <!-- End Content Text-->
        </div>
    </div>
{% endblock content %}