{% extends 'Email/Layout.html.twig' %}


{% block content %}
    <table class="row"
           style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
        <tbody>
        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
            <td class="wrapper last center"
                style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;"
                align="center" valign="top">
                <center style="width: 100%; min-width: 580px;">

                    <table class="eleven columns"
                           style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 530px; margin: 0 auto; padding: 0;">
                        <tbody>
                        <tr style="vertical-align: top; text-align: left; padding: 0;"
                            align="left">
                            <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                                align="left" valign="top">
                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;"
                                   align="left">
                                    {{ 'email.welcome'|trans({}, 'FitbaseEmailBundle') }} <a href="mailto:info@fitbase.de">info@fitbase.de</a>.
                                </p>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </center>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="row"
           style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
        <tbody>
        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
            <td class="wrapper last center"
                style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;"
                align="center" valign="top">
                <center style="width: 100%; min-width: 580px;">


                    <table class="eleven columns"
                           style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 530px; margin: 0 auto; padding: 0;">
                        <tbody>
                        <tr style="vertical-align: top; text-align: left; padding: 0;"
                            align="left">
                            <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                                align="left" valign="top">

                                <h3 style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 1.3; word-break: normal; font-size: 25px; margin: 0; padding: 0;"
                                    align="left">
                                    {{ 'email.access'|trans({}, 'FitbaseEmailBundle') }}
                                </h3>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </center>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="row callout"
           style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
        <tbody>
        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
            <td class="wrapper last center"
                style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 0px 0px;"
                align="center" valign="top">
                <center style="width: 100%; min-width: 580px;">

                    <table class="eleven columns"
                           style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 530px; margin: 0 auto; padding: 0;">
                        <tbody>
                        <tr style="vertical-align: top; text-align: left; padding: 0;"
                            align="left">
                            <td class="panel"
                                style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; background: #ECF8FF; margin: 0; padding: 10px; padding-bottom: 0px; border: 1px solid #b9e5ff;"
                                align="left" bgcolor="#ECF8FF" valign="top">

                                <p style="color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 19px; font-size: 14px; margin: 0 0 10px; padding: 0;"
                                   align="left">
                                    {{ 'email.access_signin.title'|trans({}, 'FitbaseEmailBundle') }}
                                    <a href="{{ company_url(company, 'sonata_user_security_login') }}"
                                       style="color: #2ba6cb; text-decoration: none;">
                                        {{ 'email.access_login'|trans({}, 'FitbaseEmailBundle') }}
                                    </a>
                                    .
                                </p>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </center>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="row"
           style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;">
        <tbody>
        <tr style="vertical-align: top; text-align: left; padding: 0;" align="left">
            <td class="wrapper center"
                style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 10px 20px 0px 0px;"
                align="center" valign="top">
                <center style="width: 100%; min-width: 580px;">

                    <table class="ten columns"
                           style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 480px; margin: 0 auto; padding: 0;">
                        <tbody>
                        <tr style="vertical-align: top; text-align: left; padding: 0;"
                            align="left">

                            <td class="wrapper"
                                style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                                align="left" valign="top">


                                <table class="five columns"
                                       style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 230px; margin: 0 auto; padding: 0;">
                                    <tbody>
                                    <tr style="vertical-align: top; text-align: left; padding: 0;"
                                        align="left">
                                        <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                                            align="left" valign="top">
                                            {{ 'email.access_email'|trans({}, 'FitbaseEmailBundle') }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="wrapper last"
                                style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                                align="left" valign="top">


                                <table class="five columns"
                                       style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 230px; margin: 0 auto; padding: 0;">
                                    <tbody>
                                    <tr style="vertical-align: top; text-align: left; padding: 0;"
                                        align="left">
                                        <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                                            align="left" valign="top">{{ user.email }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>

                        </tr>
                        <tr style="vertical-align: top; text-align: left; padding: 0;"
                            align="left">

                            <td class="wrapper"
                                style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                                align="left" valign="top">


                                <table class="five columns"
                                       style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 230px; margin: 0 auto; padding: 0;">
                                    <tbody>
                                    <tr style="vertical-align: top; text-align: left; padding: 0;"
                                        align="left">
                                        <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                                            align="left" valign="top">
                                            {{ 'email.access_username'|trans({}, 'FitbaseEmailBundle') }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="wrapper last"
                                style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                                align="left" valign="top">


                                <table class="five columns"
                                       style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 230px; margin: 0 auto; padding: 0;">
                                    <tbody>
                                    <tr style="vertical-align: top; text-align: left; padding: 0;"
                                        align="left">
                                        <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                                            align="left" valign="top">{{ user.username }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>

                        </tr>
                        <tr style="vertical-align: top; text-align: left; padding: 0;"
                            align="left">

                            <td class="wrapper"
                                style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                                align="left" valign="top">


                                <table class="five columns"
                                       style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 230px; margin: 0 auto; padding: 0;">
                                    <tbody>
                                    <tr style="vertical-align: top; text-align: left; padding: 0;"
                                        align="left">
                                        <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                                            align="left" valign="top">
                                            {{ 'email.access_password'|trans({}, 'FitbaseEmailBundle') }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="wrapper last"
                                style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                                align="left" valign="top">


                                <table class="five columns"
                                       style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 230px; margin: 0 auto; padding: 0;">
                                    <tbody>
                                    <tr style="vertical-align: top; text-align: left; padding: 0;"
                                        align="left">
                                        <td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #222222; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 19px; font-size: 14px; margin: 0; padding: 0px 0px 10px;"
                                            align="left" valign="top">{{ user.plainPassword }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </center>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock content %}