{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field %}
    <h4>
        <a href="{{ path('admin_fitbase_questionnaire_questionnaireanswer_create') }}">
            New anlegen
        </a>
    </h4>
    {% for answer in object.answers %}
        <div class="row">
            <div class="col-xs-12">
                <h4>{{ loop.index }}.&nbsp;{{ answer.name }} ({{ answer.countPoint }})</h4>
            </div>
            <div class="col-xs-6">
                {% if answer.description is defined %}
                    <p>{{ answer.description|raw }}</p>
                {% endif %}
            </div>
            <div class="col-xs-12">
                <a href="{{ path('admin_fitbase_questionnaire_questionnaireanswer_show', { id: answer.id}) }}">show</a>
                |
                <a href="{{ path('admin_fitbase_questionnaire_questionnaireanswer_edit', { id: answer.id}) }}">edit</a>
                |
                <a href="{{ path('admin_fitbase_questionnaire_questionnaireanswer_delete', { id: answer.id}) }}">remove</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}