<script type="text/javascript">
    (function ($) {


        function WellbeingErgonomics(container, url, callback) {
            this.init(container, url, callback);
        }

        $.extend(WellbeingErgonomics.prototype, {

            url: null,
            container: null,
            callback: null,
            interval: 10000,

            init: function (container, url, callback) {

                this.url = url;
                this.container = container;
                this.callback = callback;

                (function (self) {
                    setInterval(function () {
                        $.get(self.url, function (response) {
                            self.callback(self, response);
                        });
                    }, self.interval);
                })(this);

            }
        });

        $.fn.wellbeing_ergonomics = function (url, callback) {

            var Notification = window.Notification || window.mozNotification || window.webkitNotification;

            if (typeof(Notification) != 'undefined') {
                Notification.requestPermission(function (permission) {
                    if (permission != 'granted') {
                        throw "Notification permission should be granted";
                    }
                });
            }

            return new WellbeingErgonomics(this, url, callback);

        }

    })(jQuery);
</script>

<!-- Content Text-->
<div class="panel-box">
    <div class="titles title-image-bottom">
        <h4>{{ 'ergonomics.message_title'|trans({}, 'WellbeingErgonomicsBundle') }}</h4>
    </div>

    <div class="row" style="min-height: 420px">
        <div class="col-md-12">


            <div style="overflow:scroll; height:400px;">
                <table class="table table-striped table-hover table-responsive wellbeing-ergonomics">
                    {% if collection is defined and collection %}
                        {% for message in collection %}
                            <tr>
                                <td class='shade'>{{ message.date|date('H:i:s') }}</td>
                                <td class='shade'>
                                    {{ ergonomics_message_title(message) }}
                                    <p>{{ ergonomics_message_text(message) }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>


        </div>
    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-12">


            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $.controller('.wellbeing-ergonomics', function (element) {

            var url = '{{ path('wellbeing_ergonomics_status') }}';
            element.wellbeing_ergonomics(url, function (self, response) {

                if (response.date && response.title && response.title) {
                    var date = moment((new Date(parseInt(response.date) * 1000)).toISOString());
                    var html =
                            ("<tr>" +
                            "<td class='shade'>%date%</td>" +
                            "<td class='shade'>%title%<p>%text%</p></td>" +
                            "</tr>")
                                    .replace("%title%", response.title)
                                    .replace("%date%", date.format('HH:mm:ss'))
                                    .replace("%text%", response.text);

                    $(html).prependTo(element);

                    element.find("tr:nth-last-child(-n+1)").remove();

                    if (!response.correct) {
                        var instance = new Notification(
                                response.title, {
                                    icon: "/image/logo.png",
                                    body: response.text
                                }
                        );
                    }
                }

            });
        });
    });
</script>