{% extends "FitbaseWeeklytaskBundle::wochenaufgaben.html.twig" %}


{% block content %}


    <div class="wrap" style="margin: 11px 15px 0px 15px;">
        <h2>
            Die Frage modifizieren
            <a class="add-new-h2" href="?page=wochenquizzen">
                Zurück zur Liste
            </a>
            <a class="add-new-h2" href="?page=wochenquizzen&weeklyquiz_id_edit={{ weeklytaskQuestion.quizId }}">
                Zurück zum Quiz
            </a>
        </h2>


        <h2>
            Die Daten der Frage  ändern
        </h2>
        <p>
            Die Beschreibung und der Name werden den Benutzer angezeigt.
        </p>

        {% for message in flashbag.get('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}


        {% form_theme form 'FitbaseWeeklytaskBundle:Weeklytask:form.html.twig' %}

        {{ form(form) }}


        <h2>
            Die Varianten der Antworten auf die Frage
        </h2>
        <p>
            Die Beschreibung und der Name werden den Benutzer angezeigt.
        </p>

        <table class="wp-list-table widefat">
            <thead>
            <tr>
                <th class="manage-column">
                    Id
                </th>
                <th class="manage-column">
                    Name
                </th>
                <th class="manage-column">
                    Description
                </th>
                <th class="manage-column">
                    Correct
                </th>
                <th class="manage-column">
                </th>
            </tr>
            </thead>
            <tbody>
            {% if collection|length > 0 %}
                {% for answer in collection %}
                    <tr class="{{ loop.index is even ? 'alternate' : '' }}">
                        <td>{{ loop.index }}</td>
                        <td>{{ answer.name }}</td>
                        <td>{{ answer.description }}</td>
                        <td>{{ answer.correct|boolean }}</td>
                        <td>
                            <a href="?page=wochenquizzen&answer_id_edit={{ answer.id }}">
                                ändern
                            </a>
                            <a href="?page=wochenquizzen&answer_id_remove={{ answer.id }}">
                                löschen
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">Kein Remind-Plan gefunden</td>
                </tr>
            {% endif %}
            </tbody>
        </table>


        <h2>
            Eine neue Antwort anlegen
        </h2>
        <p>
            Die Beschreibung und der Name werden den Benutzer angezeigt.
        </p>

        {% form_theme formAnswer 'FitbaseWeeklytaskBundle:Weeklytask:form.html.twig' %}

        {{ form(formAnswer) }}
    </div>

{% endblock content %}
