{% extends "FitbaseWeeklytaskBundle::wochenaufgaben.html.twig" %}


{% block form_row -%}
    {{- form_widget(form) -}}
{%- endblock form_row %}

{% block button_row -%}
    {{- form_widget(form) -}}
{%- endblock button_row %}

{% block content %}


    <div class="wrap" style="margin: 11px 15px 0px 15px;">
        <h2>
            Wochenquizzen
        </h2>

        <h2>
            Wochenquizzen zu versenden
        </h2>
        {% for message in flashbag.get('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}

        <p>
            Diese Erinnerungen werden heute abgeschickt.
            Wann sie abgeschickt werden, kann man im Feld "Date" sehen.
        </p>


        <table class="wp-list-table widefat">
            <thead>
            <tr>
                <th class="manage-column">Id</th>
                <th class="manage-column">Woche</th>
                <th class="manage-column">Benutzer</th>
                <th class="manage-column">Aufgabe</th>
                <th class="manage-column">Quiz</th>
                <th class="manage-column">Date</th>
                <th class="manage-column">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% if pagerfantaNotProcessed.nbResults > 0 %}
                {% for weeklytaskPlan in pagerfantaNotProcessed.currentPageResults %}
                    <tr class="{{ loop.index is even ? 'alternate' : '' }}">
                        <td>{{ loop.index }}</td>
                        <td>{{ weeklytaskPlan.weekId }}</td>
                        <td nowrap>
                            {{ weeklytaskPlan.userId|username }}
                        </td>
                        <td nowrap>
                            <a href="?page=wochenaufgaben&weeklytask_id_edit={{ weeklytaskPlan.weeklytaskId }}">
                                {{ weeklytaskPlan.weeklytaskId|weeklytask }}
                            </a>
                        </td>
                        <td nowrap>
                            <a href="?page=wochenquizzen&weeklyquiz_id_edit={{ weeklytaskPlan.quizId }}">
                                {{ weeklytaskPlan.quizId|quiz }}
                            </a>
                        </td>
                        <td>{{ weeklytaskPlan.date|date('d.m.Y H:i:s') }}</td>
                        <td>
                            <a href="?page=weeklyquiz_plan&weeklyquiz_plan_send={{ weeklytaskPlan.id }}">
                                schicken
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">Kein Remind-Plan gefunden</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {% if pagerfantaNotProcessed.haveToPaginate %}
            <div class="tablenav bottom">
                <div class="tablenav-pages">
                    <span class="displaying-num">{{ pagerfantaNotProcessed.nbResults }}</span>
                <span class="pagination-links">
                    {% if pagerfantaNotProcessed.hasPreviousPage %}
                        <a href="?page=weeklyquiz_plan&notprocessed=1" title="Zur ersten Seite gehen"
                           class="first-page ">«</a>
                        <a href="?page=weeklyquiz_plan&notprocessed={{ pagerfantaNotProcessed.previousPage }}"
                           title="Zur vorherigen Seite gehen" class="prev-page">‹</a>
                    {% else %}
                        <a title="Zur ersten Seite gehen" class="first-page ">«</a>
                        <a title="Zur vorherigen Seite gehen" class="prev-page disabled">‹</a>
                    {% endif %}
                    <span class="paging-input">{{ pagerfantaNotProcessed.currentPage }} von <span
                                class="total-pages">{{ pagerfantaNotProcessed.nbPages }}</span></span>
                    {% if pagerfantaNotProcessed.hasNextPage %}
                        <a href="?page=weeklyquiz_plan&notprocessed={{ pagerfantaNotProcessed.nextPage }}"
                           title="Zur nächsten Seite gehen" class="next-page">›</a>
                        <a href="?page=weeklyquiz_plan&notprocessed={{ pagerfantaNotProcessed.nbPages }}"
                           title="Zur letzten Seite gehen" class="last-page">»</a>
                    {% else %}
                        <a title="Zur nächsten Seite gehen" class="next-page disabled">›</a>
                        <a title="Zur letzten Seite gehen" class="last-page disabled">»</a>
                    {% endif %}
                </span>
                </div>
                <br class="clear">
            </div>
        {% endif %}
    </div>

    <div class="wrap" style="margin: 11px 15px 0px 15px;">

        <h2>Versendete Wochenquizzen</h2>

        <p> Diese Erinnerungen werden heute abgeschickt. Wann sie abgeschickt werden, kann man im Feld "Date" sehen.</p>


        <table class="wp-list-table widefat">
            <thead>
            <tr>
                <th class="manage-column">Id</th>
                <th class="manage-column">Woche</th>
                <th class="manage-column">Benutzer</th>
                <th class="manage-column">Aufgabe</th>
                <th class="manage-column">Quiz</th>
                <th class="manage-column">Date</th>
                <th class="manage-column">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% if pagerfantaProcessed.nbResults > 0 %}
                {% for weeklytaskPlan in pagerfantaProcessed.currentPageResults %}
                    <tr class="{{ loop.index is even ? 'alternate' : '' }}">
                        <td>{{ loop.index }}</td>
                        <td>{{ weeklytaskPlan.weekId }}</td>
                        <td nowrap>
                            {{ weeklytaskPlan.userId|username }}
                        </td>
                        <td nowrap>
                            <a href="?page=wochenaufgaben&weeklytask_id_edit={{ weeklytaskPlan.weeklytaskId }}">
                                {{ weeklytaskPlan.weeklytaskId|weeklytask }}
                            </a>
                        </td>
                        <td nowrap>
                            <a href="?page=wochenquizzen&weeklyquiz_id_edit={{ weeklytaskPlan.quizId }}">
                                {{ weeklytaskPlan.quizId|quiz }}
                            </a>
                        </td>
                        <td>{{ weeklytaskPlan.date|date('d.m.Y H:i:s') }}</td>
                        <td>
                            <a href="?page=weeklyquiz_plan&weeklyquiz_plan_send={{ weeklytaskPlan.id }}">
                                schicken
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="6">Kein Remind-Plan gefunden</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {% if pagerfantaProcessed.haveToPaginate %}
            <div class="tablenav bottom">
                <div class="tablenav-pages">
                    <span class="displaying-num">{{ pagerfantaProcessed.nbResults }}</span>
                <span class="pagination-links">
                    {% if pagerfantaProcessed.hasPreviousPage %}
                        <a href="?page=weeklyquiz_plan&processed=1" title="Zur ersten Seite gehen"
                           class="first-page ">«</a>
                        <a href="?page=weeklyquiz_plan&processed={{ pagerfantaProcessed.previousPage }}"
                           title="Zur vorherigen Seite gehen" class="prev-page">‹</a>
                    {% else %}
                        <a title="Zur ersten Seite gehen" class="first-page ">«</a>
                        <a title="Zur vorherigen Seite gehen" class="prev-page disabled">‹</a>
                    {% endif %}
                    <span class="paging-input">{{ pagerfantaProcessed.currentPage }} von <span
                                class="total-pages">{{ pagerfantaProcessed.nbPages }}</span></span>
                    {% if pagerfantaProcessed.hasNextPage %}
                        <a href="?page=weeklyquiz_plan&processed={{ pagerfantaProcessed.nextPage }}"
                           title="Zur nächsten Seite gehen" class="next-page">›</a>
                        <a href="?page=weeklyquiz_plan&processed={{ pagerfantaProcessed.nbPages }}"
                           title="Zur letzten Seite gehen" class="last-page">»</a>
                    {% else %}
                        <a title="Zur nächsten Seite gehen" class="next-page disabled">›</a>
                        <a title="Zur letzten Seite gehen" class="last-page disabled">»</a>
                    {% endif %}
                </span>
                </div>
                <br class="clear">
            </div>
        {% endif %}
    </div>



{% endblock content %}
