{{ sonata_block_render_event('breadcrumb', { 'context': 'category', 'current_uri': app.request.requestUri }) }}

{% if categories is defined %}
    {% if categories|length > 0 %}
        <div class="row">
            {% for category in categories %}
                {% if category.exercises|length > 0 and category.parent is not null %}
                    <div class="col-md-4">
                        <a href="{{ path('category', {'slug': category.slug}) }}">
                            <h4>{{ category.name }}</h4>
                        </a>
                        {% if category.media is defined %}
                            <a href="{{ path('category', {'slug': category.slug}) }}">
                                {% thumbnail category.media, 'preview' with {'height': 200, 'width': null} %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endif %}

{% if exercises is defined %}
    {% if exercises|length > 0 %}
        <h1>Übungen</h1>
        <div class="row">
            {% for exercise in exercises %}
                <div class="col-md-4">
                    <h4>{{ exercise.name }}</h4>
                    <a href="{{ path('task', {'unique': exercise.id}) }}">
                        {% if exercise.image is defined %}
                            {% thumbnail exercise.image, 'preview' with {'height': 250, 'width': null} %}
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}

