{% extends 'FitbaseExerciseBundle:Category:category_default.html.twig' %}


{% block content %}

    {{ sonata_block_render_event('breadcrumb', { 'context': 'category_exercises', 'current_uri': app.request.requestUri }) }}

    {% if categories is defined %}
        {% if categories|length > 0 %}
            <div class="row" style="padding: 0px;">
                {% for category in categories|reverse %}
                    {% if category.exercises|length > 0 and category.parent is not null %}
                        {% if category.media is defined and category.media %}
                            <div class="col-xs-3 " style="padding:0px; margin-bottom: 20px; max-width: 250px; margin-right: 25px;" >
                                <a class="thumb-info" href="{{ path('category_exercises', {'slug': category.slug}) }}">
                                    {% thumbnail category.media, 'icon' %}
                                    <span class="thumb-info-title">
                                    <span class="thumb-info-inner">
                                        {{ category.name }}
                                    </span>
                                </span>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
    <br/>

    {% if exercises is defined %}
        {% if exercises|length > 0 %}
            <div class="row">
                <div class="col-xs-12">
                    <h2>Übungen</h2>
                </div>
                {% for exercise in exercises %}
                    <div class="col-xs-4 panel">
                        <a class="thumb-info"
                           href="{{ path('task', { 'slug': category.slug, 'unique': exercise.id}) }}">
                            {% if exercise.image is defined %}
                                {% thumbnail exercise.image, 'preview' %}
                                <span class="thumb-info-title">
                                <span class="thumb-info-inner">
                                    {{ exercise.name }}
                                </span>
                            </span>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}



{% endblock %}









