{% extends 'FitbaseExerciseBundle:Category:category_default.html.twig' %}


{% block content %}

    {{ sonata_block_render_event('breadcrumb', { 'context': 'category', 'current_uri': app.request.requestUri }) }}

    <div class="row">
        <div class="col-xs-6">
            {{ sonata_block_render({ 'type': 'fitbase.block.exercise_random' }, { 'category': category }) }}
        </div>
        <div class="col-xs-6">
            {% if exercises is defined and exercises %}
                <h2>Übungen</h2>
                <div class="row">
                    {% for exercise in exercises %}
                        <div class="col-xs-5 panel">
                            <a class="thumb-info" href="{{ path('exercise', {'unique': exercise.id}) }}">
                                {% if exercise.image is defined %}
                                    {% thumbnail exercise.image, 'preview' %}
                                    <span class="thumb-info-title">
                                    <span class="thumb-info-inner">
                                        {{ exercise.name }}
                                    </span>
                                </span>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                    <div class="col-xs-5 panel">
                        <a class="thumb-info" href="{{ path('dialog') }}">
                            <img src="/image/wohlfuehlgespraech.jpg">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">
                                Wohlfühlgespräch
                            </span>
                        </span>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
