{% extends 'FitbaseExerciseBundle:Category:category_default.html.twig' %}


{% block content %}

    {{ sonata_block_render_event('breadcrumb', { 'context': 'category', 'current_uri': app.request.requestUri }) }}

    <div class="row">
        <div class="col-xs-7">
            {{ sonata_block_render({ 'type': 'fitbase.block.exercise_random' }, { 'category': category }) }}
        </div>

        <div class="col-xs-5">
            {% if exercises is defined and exercises %}
                <div class="row">
                    <div class="col-xs-12">
                        <h2>{{ "Übungen" | trans({}, 'FitbaseExerciseBundle') }}</h2>
                    </div>
                    {% for exercise in exercises|slice(0, 7) %}
                        <div class="col-xs-6">
                            <div class="well">
                                <div class="row thumb-info">
                                    {% if exercise.image is defined %}
                                        <div class="col-xs-12">
                                            <a href="{{ path('exercise', { 'unique': exercise.id}) }}">
                                                {% thumbnail exercise.image, 'thumbnail' with { 'title': null } %}
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="col-xs-12 thumb-info-title">
                                        <a class="thumb-info-inner"
                                           href="{{ path('exercise', { 'unique': exercise.id}) }}">
                                            {{ exercise.name }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
