{{ sonata_block_render_event('breadcrumb', { 'context': 'category', 'current_uri': app.request.requestUri }) }}

<style>
    a.thumb-info span.thumb-info-title {
        color: #ffffff;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0;
        padding: 7px 11px 9px;
        text-transform: uppercase;
    }

    .thumb-info .thumb-info-title {
        background: none repeat scroll 0 0 rgba(66, 139, 202, 0.9);
        bottom: 10%;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        left: 20px;
        letter-spacing: -1px;
        padding: 9px 11px;
        position: absolute;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        transition: all 0.3s ease 0s;
        z-index: 1;
    }

    .thumb-info-inner {
        width: 100%;
    }

</style>

<div class="row">
    <div class="col-md-6">
        {{ sonata_block_render({ 'type': 'fitbase.block.exercise' }, { 'unique': '74' }) }}
    </div>


    <div class="col-md-5 col-sm-offset-1">
        {% if exercises is defined and exercises %}
            <h2>Übungen</h2>
            <div class="row">
                {% for exercise in exercises %}
                    <div class="col-md-5 panel panel-default">
                        <a class="thumb-info" href="{{ path('exercise', {'unique': exercise.id}) }}">
                            {% if exercise.image is defined %}
                                {% thumbnail exercise.image, 'preview' with {'height': 112, 'width': null} %}
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner">
                                        {{ exercise.name }}
                                    </span>
                                </span>
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-md-1">
                    </div>
                {% endfor %}
                <div class="col-md-5 panel panel-default">
                    <a class="thumb-info" href="{{ path('dialog') }}">
                        <img src="/image/wohlfuehlgespraech.jpg" width="200px">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">
                                Wohlfühlgespräch
                            </span>
                        </span>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>


    {#<div class="col-md-6">#}
    {#{{ sonata_block_render({ 'type': 'fitbase.block.dashboard_dialog' }) }}#}
    {#</div>#}
</div>