{% extends 'FitbaseExerciseBundle:Category:category_default.html.twig' %}


{% block content %}

    <style>

        .thumb-info img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        a.thumb-info span.thumb-info-title {
            color: #909090;
            font-size: 12px;
            letter-spacing: 0;
            padding: 7px 11px 9px;
            text-transform: uppercase;
            left: 0px;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        a.thumb-info .thumb-info-title {
            background: none repeat scroll 0 0 rgba(245, 245, 245, 0.9);
            bottom: -1px;
            font-size: 18px;
            left: 20px;
            letter-spacing: -1px;
            padding: 9px 11px;
            position: absolute;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
            text-transform: uppercase;
            transition: all 0.3s ease 0s;
            z-index: 1;
        }

        .thumb-info-inner {
            width: 100%;
        }

    </style>

    {{ sonata_block_render_event('breadcrumb', { 'context': 'category_exercises', 'current_uri': app.request.requestUri }) }}

    {% if categories is defined %}
        {% if categories|length > 0 %}
            <div class="row" style="padding: 0px;">
                {% for category in categories|reverse %}
                    {% if category.exercises|length > 0 and category.parent is not null %}
                        {% if category.media is defined and category.media %}
                            <div class="col-xs-3 "
                                 style="padding:0px; margin-bottom: 20px; max-width: 250px; margin-right: 25px;">
                                <a class="thumb-info" href="{{ path('category_exercises', {'slug': category.slug}) }}">
                                    {% thumbnail category.media, 'icon' %}
                                    <span class="thumb-info-title">
                                    <span class="thumb-info-inner">
                                        {{ category.name }}
                                    </span>
                                </span>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
    <br/>

    {% if exercises is defined %}
        {% if exercises|length > 0 %}
            <div class="row">
                <div class="col-xs-12">
                    <h2>Übungen</h2>
                </div>
                {% for exercise in exercises %}
                    <div class="col-xs-4">
                        <div class="well">
                            <div class="row thumb-info">
                                {% if exercise.image is defined %}
                                    <div class="col-xs-12">
                                        <a href="{{ path('task', { 'slug': category.slug, 'unique': exercise.id}) }}">
                                            {% thumbnail exercise.image, 'preview' %}
                                        </a>
                                    </div>
                                {% endif %}
                                <div class="col-xs-12 thumb-info-title">
                                    <a class="thumb-info-inner"
                                       href="{{ path('task', { 'slug': category.slug, 'unique': exercise.id}) }}">
                                        {{ exercise.name }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}









