{{ sonata_block_render_event('breadcrumb', { 'context': 'category', 'current_uri': app.request.requestUri }) }}


<div class="row">
    <div class="col-xs-12">
        <h3>Ihr Ernährungstagebuch</h3>
        Hier finden Sie Ihr Ernährungstagebuch. Bitte geben Sie einmal am Tag Ihre zu sich genommene Nahrung ein. Es
        funktioniert ganz einfach. Die Grundeinheit ist eine „Hand voll“. Stellen Sie sich nun vor wie oft die einzelnen
        Bestandteile (z.B. Kartoffeln, Gemüse oder Fleisch) in Ihre Hand passen und geben Sie diesen Wert unten ein.
        Danach können Sie sehen wie sich Ihre Ernährung zur optimalen Zusammensetzung vergleicht.
    </div>
    <div class="col-xs-6" style="text-align: center;">
        <h3>Ihr persönliches Verhältnis</h3>


        <div style="height: 430px; overflow-y: scroll;">
            {% if history is defined and history %}
                {% for key, row in history %}
                    {{ pie(key, row)|raw }}
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="col-xs-6">

        <h3>Ein optimales Verhältnis</h3>

        {{ pie("", groups)|raw }}
    </div>

    <div class="col-xs-6">

        <h3>Ernährungstagebuch</h3>

        <br/>

        {% form_theme form "FitbaseExerciseBundle:Exercise:form.html.twig" %}
        {{ form(form) }}

    </div>
    <div class="col-xs-6">
        <h3>Ernährungstagebuch</h3>

        <br/>

        <div style="height: 450px; overflow-y: scroll;">


            <table class="table table-striped table-hover table-responsive">
                <tbody>
                {% if collection is defined and collection %}
                    {% for feeding in collection %}
                        <tr>
                            <td>{{ feeding.date|date('d.m.Y') }}</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td colspan="2">
                                <table>
                                    <tbody>
                                    {% for item in feeding.items %}
                                        <tr>
                                            <td>{{ item.group }}</td>
                                            <td>{{ item.count }} Portion</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">
                            {{ "Keine Einträge gefunden" | trans({}, 'FitbaseReminderBundle') }}
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

        </div>


    </div>

</div>
<br/>