{% extends "content.html.twig" %}

{% block title %}
    <h1>{{ "user.wizard_hello" | trans({}, 'FitbaseUserBundle') }}</h1>
{% endblock title %}

{% block breadcrumbs %}
    {{ sonata_block_render_event('breadcrumb', { 'context': 'exercise', 'current_uri': app.request.requestUri }) }}
{% endblock breadcrumbs %}

{% block content %}
    <div class="panel-box">
        <div class="titles">
            <h4>{{ "user.wizard_focus_settings" | trans({}, 'FitbaseUserBundle') }}</h4>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-xs-6">
                        <h3>{{ 'user.wizard_focus_exercise_priority'|trans({}, 'FitbaseUserBundle') }}</h3>
                        {{ 'user.wizard_focus_exercise_priority_info'|trans({}, 'FitbaseUserBundle') }}
                    </div>
                    <div class="col-xs-6">
                        <h3>{{ 'user.wizard_focus_exercise_type'|trans({}, 'FitbaseUserBundle') }}</h3>
                        {{ 'user.wizard_focus_exercise_type_info'|trans({}, 'FitbaseUserBundle') }}
                    </div>
                </div>

                {% form_theme form 'Wizard/FocusSettingsBackForm.html.twig' %}

                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock content %}