{% extends "content.html.twig" %}

{% block title %}
    <h1>{{ "user.wizard_hello" | trans({}, 'FitbaseUserBundle') }}</h1>
{% endblock title %}

{% block breadcrumbs %}
    {{ sonata_block_render_event('breadcrumb', { 'context': 'questionnaire', 'current_uri': app.request.requestUri }) }}
{% endblock breadcrumbs %}


{% block content %}
    <div class="panel-box">
        <div class="titles">
            <h4>{{ 'user.wizard_focus_change'|trans({}, 'FitbaseUserBundle') }}</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{ 'user.wizard_focus_change_info'|trans({}, 'FitbaseUserBundle') }}</p>
                {% form_theme form "Wizard/FocusSettingsForm.html.twig" %}

                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock content %}