{% extends "layout.html.twig" %}

{% use "content.html.twig" %}

{% block title %}
    {% if questionnaire is defined %}
        <h1>{{ questionnaire }}</h1>
    {% endif %}
{% endblock title %}

{% block breadcrumbs %}
    {{ sonata_block_render_event('breadcrumb', { 'context': 'questionnaire', 'current_uri': app.request.requestUri }) }}
{% endblock breadcrumbs %}


{% block content %}
    <!-- Content Text-->
    <div class="panel-box quetionnaire">
        <div class="titles">
            <h4>{{ questionnaire }}</h4>
        </div>

        {% if questionnaire is defined and questionnaire %}
            <div class="row">
                <div class="col-xs-12">

                    <p class="modal-description">
                        {{ questionnaire.description|raw }}
                    </p>
                </div>
            </div>
        {% endif %}

        {% form_theme form "Wizard/QuestionnaireForm.html.twig" %}

        {{ form(form) }}

    </div>
{% endblock %}