<!-- Content Text-->
<div class="panel-box">
    <div class="titles title-image-bottom">
        <h4 class="short hue">
            {% if category.slug == "stress" %}
                {{ 'Stress Barometer'|trans({}, 'FitbaseUserBundle') }}
            {% elseif category.slug == "ruecken" %}
                {{ 'Rücken Barometer'|trans({}, 'FitbaseUserBundle') }}
            {% else %}
                {{ category.name }}
            {% endif %}
        </h4>
    </div>

    <ul class="single-carousel owl-carousel owl-theme" style="opacity: 1; display: block;">
        <div class="owl-wrapper-outer autoHeight">
            <div class="owl-wrapper" style="left: 0px; display: block;">

                {% if category is defined and category %}
                    <div id="statistic_user_{{ category.slug }}">
                        <svg id="pieChartSVG" class="img-responsive">
                            <defs>
                                <filter id='pieChartInsetShadow'>
                                    <feOffset dx='0' dy='0'/>
                                    <feGaussianBlur stdDeviation='3' result='offset-blur'/>
                                    <feComposite operator='out' in='SourceGraphic' in2='offset-blur' result='inverse'/>
                                    <feFlood flood-color='black' flood-opacity='1' result='color'/>
                                    <feComposite operator='in' in='color' in2='inverse' result='shadow'/>
                                    <feComposite operator='over' in='shadow' in2='SourceGraphic'/>
                                </filter>
                                <filter id="pieChartDropShadow">
                                    <feGaussianBlur in="SourceAlpha" stdDeviation="3" result="blur"/>
                                    <feOffset in="blur" dx="0" dy="3" result="offsetBlur"/>
                                    <feMerge>
                                        <feMergeNode/>
                                        <feMergeNode in="SourceGraphic"/>
                                    </feMerge>
                                </filter>
                            </defs>
                        </svg>
                    </div>
                {% endif %}

                <script type="text/javascript">
                    (function () {
                        {% if category is defined and category %}
                            var container = $('#statistic_user_{{ category.slug }}');
                            if (container.is('div')) {
                                {% if percent is defined %}
                                    {% if description is defined %}
                                        container.barometer({
                                            value: parseFloat('{{ percent }}'),
                                            description: '{{ description }}'
                                        }, {});
                                    {% endif %}
                                {% endif %}
                            }
                        {% endif %}
                    })();
                </script>

            </div>
        </div>
    </ul>

    <div class="panel-footer" style="min-height: 110px;">
        {% if category.slug == "stress" %}
            <p>Das Stress Barometer wertet die Stress-bezogenen Fragen in der Bedarfsanalyse aus.</p>
        {% elseif category.slug == "ruecken" %}
            <p>Das Rücken Barometer wertet die Rücken-bezogenen Fragen in der Bedarfsanalyse aus.</p>
        {% endif %}
    </div>
</div>
<!-- End Content Text-->




