<!-- Content Text-->
<div class="panel-box">
    <div class="titles title-image-bottom">
        <h4>
            {% if category is defined and category %}
                {% if category.slug == "stress" %}
                    {{ 'company.dashboard.category_stress'|trans({}, 'FitbaseCompanyBundle') }}
                {% elseif category.slug == "ruecken" %}
                    {{ 'company.dashboard.category_back'|trans({}, 'FitbaseCompanyBundle') }}
                {% else %}
                    {{ category.name }}
                {% endif %}
            {% endif %}
        </h4>
    </div>


    <ul class="single-carousel owl-carousel owl-theme" style="opacity: 1; display: block;">
        <div class="owl-wrapper-outer autoHeight">
            <div class="owl-wrapper" style="left: 0px; display: block;">

                {% set icon = "/image/dashboard_ruecken.png" %}
                {% if category is defined and category %}
                    {% if category.slug == "stress" %}
                        {% set icon = "/image/dashboard_stress.png" %}
                    {% endif %}
                {% endif %}
                <img src="{{ icon }}" width="718px;" class="img-responsive">

            </div>
        </div>
    </ul>


    <div class="panel-footer">
        {% if category is defined and category %}
            {% if category.slug == "stress" %}
                <p>{{ 'company.dashboard.category_stress.info'|trans({}, 'FitbaseCompanyBundle') }}</p>
            {% elseif category.slug == "ruecken" %}
                <p>{{ 'company.dashboard.category_back.info'|trans({}, 'FitbaseCompanyBundle') }}</p>
            {% endif %}
        {% endif %}
    </div>
</div>
<!-- End Content Text-->