<!-- Content Text-->
<div class="panel-box">
    <div class="titles title-image-bottom">
        <h4>{{ 'Bedarfsanalyse'|trans({}, 'FitbaseQuestionnaireBundle') }}</h4>
    </div>


    <div class="row">
        <div class="col-md-12" id="assessment">
            <div class="text-over-image">
                {{ 'Bedarfsanalyse durchgeführt'|trans({}, 'FitbaseQuestionnaireBundle') }}
            </div>
            <svg>
                <defs>
                    <filter id='pieChartInsetShadow'>
                        <feOffset dx='0' dy='0'/>
                        <feGaussianBlur stdDeviation='3' result='offset-blur'/>
                        <feComposite operator='out' in='SourceGraphic' in2='offset-blur' result='inverse'/>
                        <feFlood flood-color='black' flood-opacity='1' result='color'/>
                        <feComposite operator='in' in='color' in2='inverse' result='shadow'/>
                        <feComposite operator='over' in='shadow' in2='SourceGraphic'/>
                    </filter>
                    <filter id="pieChartDropShadow">
                        <feGaussianBlur in="SourceAlpha" stdDeviation="3" result="blur"/>
                        <feOffset in="blur" dx="0" dy="3" result="offsetBlur"/>
                        <feMerge>
                            <feMergeNode/>
                            <feMergeNode in="SourceGraphic"/>
                        </feMerge>
                    </filter>
                </defs>
            </svg>
        </div>
    </div>

    <div class="panel-footer" style="padding: 25px">
        <a href="{{ path("questionnaire_statistic", { 'unique': questionnaire.id }) }}"
           class="btn btn-default btn-block" style="margin-top: 5px">
            {{ 'Detaillierte Auswertung'|trans({}, 'FitbaseQuestionnaireBundle') }}
        </a>
    </div>
</div>
<!-- End Content Text-->
<script type="text/javascript">
    $(function () {
        $.controller('#assessment', function (element) {

            var data = [
                {
                    label: "{{ 'Ja'|trans({}, 'FitbaseQuestionnaireBundle') }}",
                    value: parseFloat('{{ percent }}'),
                    color: '#fce14b'
                },
                {
                    label: "{{ 'Nein'|trans({}, 'FitbaseQuestionnaireBundle') }}",
                    value: 100 - parseFloat('{{ percent }}'),
                    color: '#a2d049'
                }
            ];

            var settings = {
                width: 300,
                height: 310
            };

            element.waterfall(data, settings);
        });

        $.controller('#assessment>.text-over-image', function (element) {
            element.animate({
                top: "80px",
                left: "40px",
                width: "80px"
            }, 100);
        });

    });
</script>
