<!-- Content Text-->
<div class="panel-box">
    <div class="titles">
        <h4>
            {% if category is defined and category %}
                {% if category.slug == "stress" %}
                    {{ 'Stress Barometer'|trans({}, 'FitbaseUserBundle') }}
                {% elseif category.slug == "ruecken" %}
                    {{ 'Rücken Barometer'|trans({}, 'FitbaseUserBundle') }}
                {% else %}
                    {{ category.name }}
                {% endif %}
            {% endif %}
        </h4>
    </div>


    <ul class="single-carousel owl-carousel owl-theme" style="opacity: 1; display: block;">
        <div class="owl-wrapper-outer autoHeight">
            <div class="owl-wrapper" style="left: 0px; display: block;">

                {% set icon = "/image/dashboard_ruecken.png" %}
                {% if category is defined and category %}
                    {% if category.slug == "stress" %}
                        {% set icon = "/image/dashboard_stress.png" %}
                    {% endif %}
                {% endif %}
                <img src="{{ icon }}" width="718px;" class="img-responsive">

            </div>
        </div>
    </ul>


    <div class="panel-footer">
        {% if category is defined and category %}
            {% if category.slug == "stress" %}
                {{ 'Das Stress Barometer wertet die Stress-bezogenen Fragen in der Bedarfsanalyse aus.'|trans({}, 'FitbaseUserBundle') }}
            {% elseif category.slug == "ruecken" %}
                {{ 'Das Rücken Barometer wertet die Rücken-bezogenen Fragen in der Bedarfsanalyse aus.'|trans({}, 'FitbaseUserBundle') }}
            {% endif %}
        {% endif %}
    </div>
</div>
<!-- End Content Text-->