<!-- Content Text-->
<div class="panel-box" style="min-height: 525px;">
    <div class="titles">
        <h4>{{ 'Fitbase kurz erklärt'|trans({}, 'FitbaseGamificationBundle') }}</h4>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-5">
                    <img src="{{ asset('/bundles/fitbasegamification/img/info.png') }}">
                </div>
                <div class="col-md-7" style="padding-top: 10%;">
                    <h3>{{ 'Fragen?'|trans({}, 'FitbaseGamificationBundle') }}</h3>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-md-12">
                    <p>{{ 'Sie möchten erfahren, welche Infos Sie über Ihr persönliches Dashboard abrufen können und wie Ihr Online Coaching genau funktioniert?'|trans({}, 'FitbaseGamificationBundle') }}</p>
                    <br/>
                </div>
                <div class="col-md-12">
                    <a href="{{ path('gamification_documentation_manual') }}" class="btn btn-primary btn-block">
                        <h3 style="color: white; padding: 8px 0 8px;">
                            {{ 'Fitbase kurz erklärt'|trans({}, 'FitbaseGamificationBundle') }}
                        </h3>
                    </a>
                    <br/>
                </div>
                <div class="col-md-12">
                    <p>
                        Hier sind die wichtigsten Punkte zu fitbase in Kürze erklärt. Sollten Sie weitere Fragen oder
                        Anmerkungen haben, so kontaktieren Sie uns jederzeit über unser Kontaktformular.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
