<!-- Content Text-->
<div class="panel-box" style="min-height: 525px;">
    <div class="titles title-image-bottom">
        <h4>{{ 'gamification.dashboard_forest'|trans({}, 'FitbaseGamificationBundle') }}</h4>
    </div>

    <ul class="single-carousel owl-carousel owl-theme" style="display: block; margin-bottom: 20px;">
        <div class="owl-wrapper-outer autoHeight">
            <div class="owl-wrapper" style="left: 0px; display: block;">
                <li>
                    <img class="img-responsive"
                         title="{{ 'gamification.dashboard_forest'|trans({}, 'FitbaseGamificationBundle') }}"
                         src="{{ path('gamification_picture_forest') }}">
                </li>
            </div>
        </div>
    </ul>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-12">
                    <p>
                        {% if points is defined and points %}
                            {{ 'gamification.dashboard_forest_info'|trans({ 'points':points|number_format(0, '.', ' ') }, 'FitbaseGamificationBundle') }}
                        {% else %}
                            {{ 'gamification.dashboard_forest_info_empty'|trans({}, 'FitbaseGamificationBundle') }}
                        {% endif %}
                    </p>
                </div>
            </div>

        </div>
    </div>


</div>


