{% extends "form_table_layout.html.twig" %}

{% block form_widget_compound -%}
    {% spaceless %}
        <style>

            #post-body-content {
                float: none !important;
            }

            input[type=text], input[type=number], textarea, select {
                background-color: #FFFFFF;
                font-size: 1.7em;
                height: 1.7em;
                line-height: 100%;
                margin: 0;
                outline: 0 none;
                padding: 3px 8px;
                width: 100%;
            }

            select {
                height: 1.7em !important;
            }

            textarea {
                height: 4.7em !important;
            }
        </style>

        <div id="poststuff" {{ block('widget_container_attributes') }}>
            <div id="post-body" class="metabox-holder columns-2">
                <div id="post-body-content">
                    {%- if form.parent is empty and errors|length > 0 -%}
                        {{- form_errors(form) -}}
                    {%- endif %}
                    {{- block('form_rows') -}}
                    {{- form_rest(form) -}}
                </div>
            </div>
        </div>
    {% endspaceless %}
{%- endblock form_widget_compound %}


{% block form_errors -%}
    {% if errors|length > 0 -%}
        {%- for error in errors -%}
            <p class="error" style="color: red; padding: 5px;">
                {{ error.message }}
            </p>
        {%- endfor -%}
    {%- endif %}
{%- endblock form_errors %}


{% block tinymce_widget %}
    <div id="postdivrich" class="postarea edit-form-section">
        {{ tinymcecode|raw }}
    </div>
{% endblock tinymce_widget %}


{% block form_row %}
    {% spaceless %}
        <div id="titlediv">
            <div id="titlewrap">
                {{ form_label(form) }}
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}



{% block button_row %}
    {% spaceless %}
        <div id="titlediv">
            <div id="titlewrap">
                {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock button_row %}
