{% extends "content.html.twig" %}

{% block title %}
    <h1>{{ 'barmer_gek.register'|trans({}, 'FitbaseBarmerGekBundle') }}</h1>
{% endblock title %}

{% block breadcrumbs %}
    {{ sonata_block_render_event('breadcrumb', { 'context': 'registration', 'current_uri': app.request.requestUri }) }}
{% endblock breadcrumbs %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- Content Text-->
            <div class="panel-box">

                <div class="titles">
                    <h4>{{ 'barmer_gek.register'|trans({}, 'FitbaseBarmerGekBundle') }}</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ 'barmer_gek.register_description'|trans({}, 'FitbaseBarmerGekBundle') }}</p>

                        {% form_theme form 'BarmerGek/RegistrationForm.html.twig' %}
                        {{ form(form) }}

                    </div>
                </div>


            </div>
            <!-- End Content Text-->
        </div>
    </div>
{% endblock %}
