{% extends 'FitbaseExerciseBundle::layout.html.twig' %}

{% block sonata_page_javascripts %}
    {% javascripts '@FitbaseExerciseBundle/Resources/public/js/*' output='js/jquery.exercise.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block content %}

    {{ sonata_block_render_event('breadcrumb', { 'context': 'exercise', 'current_uri': app.request.requestUri }) }}


    <div class="row">

        {% if exercise is defined and exercise %}
            {% if exercise.webm is defined and exercise.webm or exercise.gallery.galleryHasMedias is defined and exercise.gallery.galleryHasMedias %}
                <div class="col-md-7">

                    {% block content_video %}
                        {% if exercise is defined and exercise %}
                            {% if exercise.webm is defined %}
                                {% if exercise.webm %}

                                    {% set width='540' %}
                                    {% set height='320' %}

                                    <video width="{{ width }}" controls autoplay>
                                        <source src="{{ video(exercise.webm) }}" type="video/webm">

                                        {% if exercise.mp4 is defined %}
                                            {% if exercise.mp4 %}
                                                <object class="flashplayer" width="{{ width }}" height="{{ height }}"
                                                        type="application/x-shockwave-flash"
                                                        data="/flash/player.swf?v1.3.5">
                                                    <param name="movie" value="/flash/player.swf?v1.3.5"/>
                                                    <param name="quality" value="high"/>
                                                    <param name="menu" value="false"/>
                                                    <param name="scale" value="noscale"/>
                                                    <param name="allowfullscreen" value="true">
                                                    <param name="allowscriptaccess" value="always">
                                                    <param name="swlivevonnect" value="true"/>
                                                    <param name="cachebusting" value="false">
                                                    <param name="flashvars"
                                                           value="skin=/flash/skins/mySkin.swf&video={{ video(exercise.mp4) }}&autoplay=1"/>
                                                </object>

                                                <script type="text/javascript">
                                                    $(function () {
                                                        var flashplayer = $('.flashplayer');
                                                        if (!flashplayer.flash()) {
                                                            flashplayer.remove();
                                                        }
                                                    });
                                                </script>
                                            {% endif %}
                                        {% endif %}
                                    </video>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endblock %}


                    {% block content_image %}
                        {% if exercise is defined and exercise %}
                            {% if exercise.gallery.galleryHasMedias is defined %}
                                {% if  exercise.gallery.galleryHasMedias %}
                                    <div class="row">
                                        {% for galleryHasMedia in exercise.gallery.galleryHasMedias %}
                                            <div class="col-md-6">
                                            <span class="label label-default">
                                            {{ loop.index }}
                                            </span>
                                                <a href="{% path galleryHasMedia.media, 'original' %}">
                                                    {% thumbnail galleryHasMedia.media, 'preview' with {'width': 260} %}
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endblock %}

                </div>
                <div class="col-md-5">
                    {% if exercise is defined and exercise %}
                        {{ exercise.description|raw }}
                    {% endif %}
                </div>
            {% else %}
                <div class="col-md-12">
                    {% if exercise is defined and exercise %}
                        {{ exercise.description|raw }}
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </div>

    {% include 'FitbaseExerciseBundle:Exercise:done.html.twig' with { 'exercise': exercise } %}

{% endblock %}

