{{ sonata_block_render_event('breadcrumb', { 'context': 'exercises', 'current_uri': app.request.requestUri }) }}

{% if categories is defined and categories %}
    <div class="row">
        {% for categoryCompany in categories %}
            {% set category = categoryCompany.category %}
            <div class="col-md-4">
                <a href="{{ path('exercises_category', {'unique': category.slug}) }}">
                    <h4>{{ category.name }}</h4>
                </a>
                <a href="{{ path('exercises_category', {'unique': category.slug}) }}">
                    {% if category.media is defined %}
                        {% thumbnail category.media, 'preview' with {'width': 250} %}
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if exercises is defined and exercises %}
    <h1>Übungen ({{ exercises|length }})</h1>
    <div class="row">
        {% for exercise in exercises %}
            <div class="col-md-4">
                <h4>{{ exercise.name }}</h4>
                <a href="{{ path('exercise', {'unique': exercise.id}) }}">
                    {% if exercise.image is defined %}
                        {% thumbnail exercise.image, 'preview' with {'width': 250} %}
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}