{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field %}
    <a href="{{ path('admin_fitbase_questionnaire_questionnairequestion_create') }}">Neue Frage anlegen</a>

    <ol>
        {% for question in object.questions %}
            <li>
                {{ question.name }}
                <a href="{{ path('admin_fitbase_questionnaire_questionnairequestion_show', { id: question.id}) }}">show</a>
                |
                <a href="{{ path('admin_fitbase_questionnaire_questionnairequestion_edit', { id: question.id}) }}">edit</a>
                |
                <a href="{{ path('admin_fitbase_questionnaire_questionnairequestion_delete', { id: question.id}) }}">remove</a>
                {% if question.description|length > 0 %}
                    <p>{{ question.description|raw }}</p>
                {% endif %}
                <ol>
                    {% for answer in question.answers %}
                        <li>
                            {{ answer.name }}
                            <a href="{{ path('admin_fitbase_questionnaire_questionnairequestion_show', { id: answer.id}) }}">show</a>
                            |
                            <a href="{{ path('admin_fitbase_questionnaire_questionnairequestion_edit', { id: answer.id}) }}">edit</a>
                            |
                            <a href="{{ path('admin_fitbase_questionnaire_questionnairequestion_delete', { id: answer.id}) }}">remove</a>
                            {% if answer.description|length > 0 %}
                                <p>{{ answer.description|raw }}</p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            </li>
        {% endfor %}
    </ol>
{% endblock %}