{% extends 'SonataAdminBundle::standard_layout.html.twig' %}


{% block breadcrumb %}
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">
            {% trans %}Dashboard{% endtrans %}
        </a>
    </li>
    <li class="active">
        {{ weeklyquiz.quiz.name|trans({}, 'SonataAdminBundle') }}
    </li>
{% endblock %}

{% block sonata_page_content_header %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
           <span class="navbar-brand">
                {{ weeklyquiz.quiz.name|trans({}, 'SonataAdminBundle') }}
            </span>
        </div>
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown sonata-actions">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Aktionen <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li>
                            <a href="{{ path('admin_fitbase_weeklytask_weeklyquiz_show', { id: weeklyquiz.quiz.id}) }}">
                                {{ "Quizaufbau"|trans({}, 'SonataAdminBundle') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin_fitbase_weeklytask_weeklyquiz_edit', { id: weeklyquiz.quiz.id}) }}">
                                {{ "Bearbeiten"|trans({}, 'SonataAdminBundle') }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
{% endblock sonata_page_content_header %}


{% block sonata_admin_content %}


    {% if form is defined and form %}
        {% form_theme form "Weeklytask/WeeklyquizForm.html.twig" %}
        {{ form(form) }}
    {% endif %}

{% endblock sonata_admin_content %}