{% extends '::email.html.twig' %}

{% block content %}
    <div class="row" style="min-height: 300px;">
        <div class="col-xs-12">
            {% if user is defined and user %}
                <p>Hallo {{ user.firstname }} {{ user.lastname }}.</p>
            {% endif %}
            Wenn die E-Mail nicht richtig angezeigt wird, klick
            {% if userTask is defined %}
                <a href="{{ sign(user, url('weeklytask_user_view', {'unique': userTask.id})) }}">
                    hier
                </a>
            {% endif %}
        </div>
        {% if  task is defined %}
            <div class="col-xs-12">
                <h2>{{ task.name|raw }}</h2>

                <p>{{ task.content|raw }}</p>
            </div>
        {% endif %}
    </div>
{% endblock content %}