{% extends '::email.html.twig' %}

{% block content %}
    <div class="row" style="min-height: 300px;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if user is defined and user %}
                <p>Guten Tag {{ user.firstname }} {{ user.lastname }},</p>
            {% endif %}

            {% if categoryFocus is defined %}

                Hiermit möchten wir Sie an Ihre {{ categoryFocus.name }}-Übung erinnern.
                Bitte klicken Sie auf den Link, um direkt zur heutigen Übung zu gelangen.
                <br/>
                <br/>

                <a class="true btn btn btn-success btn-ds" href="{{ sign(user, url('focus')) }}"
                   style="display: block; margin-left: auto; margin-right: auto; width: 200px;">
                    Meine heutige Übung
                </a>
            {% endif %}

            <br/>
            <br/>

            {% if categories is defined and categories %}
                <div class="row" style="width: 80%; display: block; margin-left: auto; margin-right: auto;">
                    {% for key, category in categories %}
                        <div class="col-md-6" style="padding-left: 5px; padding-right: 5px;">
                            <a class="true btn btn btn-success btn-ds"
                               href="{{ sign(user, url('category', { 'slug': category.slug })) }}"
                               style="display: block; margin-left: auto; margin-right: auto; width: 200px; margin-top: 5px;">
                                {{ category.name }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <br/>
            <br/>

            <a class="true btn btn btn-success btn-ds" href="{{ sign(user, url('sonata_user_profile_show')) }}"
               style="display: block; margin-left: auto; margin-right: auto; width: 250px;">
                Erinnerungsemail-Einstellungen
            </a>
            <br/>

            Viel Spaß und einen schönen Tag wünscht Ihnen Ihr fitbase Team!
            <br/>
            <br/>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock content %}