{% extends "FitbaseQuestionnaireBundle::form.html.twig" %}

{% block form_widget_compound %}
    {% spaceless %}
        <div class="modal-body" {{ block('widget_container_attributes') }}>
            <div class="row">
                <div class="col-xs-12 errors">
                    {% if form.parent is empty %}
                        {{ form_errors(form) }}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ block('form_rows') }}
                    {{ form_rest(form) }}
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block questionnaire_slider_widget %}
    {% spaceless %}
        <tr>
            <td class="col-xs-7">
                <h4>{{ label|raw }}</h4>
                {{ form_errors(form) }}
                {{ description }}
            </td>
            <td class="col-xs-5" colspan="2">
                {{ sonata_block_render({ 'type': 'fitbase.block.dashboard.questionnaire_question_last' }, {
                    'question': question,
                    'questionnaireUser': questionnaireUser
                }) }}
            </td>
        </tr>
    {% endspaceless %}
{% endblock questionnaire_slider_widget %}


{% block questionnaire_checkbox_widget %}
    {% spaceless %}
        <tr>
            <td class="col-xs-7">
                <h4>{{ label|raw }}</h4>
                {{ form_errors(form) }}
                {{ description }}
            </td>
            <td class="col-xs-5" colspan="2">
                {{ sonata_block_render({ 'type': 'fitbase.block.dashboard.questionnaire_question_last' }, {
                    'question': question,
                    'questionnaireUser': questionnaireUser
                }) }}
            </td>
        </tr>
    {% endspaceless %}
{% endblock questionnaire_checkbox_widget %}

{% block questionnaire_radiobutton_widget %}
    {% spaceless %}
        <tr>
            <td class="col-xs-7">
                <h4>{{ label|raw }}</h4>
                {{ form_errors(form) }}
                {{ description }}
            </td>
            <td class="col-xs-5" colspan="2">
                {{ sonata_block_render({ 'type': 'fitbase.block.dashboard.questionnaire_question_last' }, {
                    'question': question,
                    'questionnaireUser': questionnaireUser
                }) }}
            </td>
        </tr>
    {% endspaceless %}
{% endblock questionnaire_radiobutton_widget %}

{% block questionnaire_selectbox_widget %}
    {% spaceless %}
        <tr>
            <td class="col-xs-7">
                <h4>{{ label|raw }}</h4>
                {{ form_errors(form) }}
                {{ description }}
            </td>
            <td class="col-xs-5" colspan="2">
                {{ sonata_block_render({ 'type': 'fitbase.block.dashboard.questionnaire_question_last' }, {
                    'question': question,
                    'questionnaireUser': questionnaireUser
                }) }}
            </td>
        </tr>
    {% endspaceless %}
{% endblock questionnaire_selectbox_widget %}
