{% extends "FitbaseQuestionnaireBundle::modal.html.twig" %}


{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            <label>{{ form_label(form) }}</label>
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_rows %}
    {% spaceless %}
        {% for child in form %}
            {{ form_errors(child) }}
        {% endfor %}
        <div class="row">
            {% for child in form %}
                <div class="col-xs-6">
                    {{ form_row(child) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock form_rows %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group alert alert-warning">
                            {{ error.message }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block password_widget %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}
            {% spaceless %}
                <div class="modal-header">
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 class="modal-title">Persönliches Passwort</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    {{ form_row(form.password) }}
                    <div class="row">
                        <div class="col-xs-12">
                            <p>
                                <small>Das Passwort muss folgende Kriterien erfüllen: mind. 6 und max. 20 Zeichen.
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" name="save" id="question_section_save" type="submit">
                        Weiter
                    </button>
                </div>
            {% endspaceless %}
        </div>
    {% endspaceless %}
{% endblock password_widget %}

{% block content %}
    <div class="modal-dialog">
        <div class="modal-content">
            {% form_theme form _self %}

            {{ form(form) }}
        </div>
    </div>
{% endblock content %}