{% extends 'FitbaseUserBundle:Wizard:layout.html.twig' %}


{% block content %}

    {{ sonata_block_render_event('breadcrumb', { 'context': 'profile', 'current_uri': app.request.requestUri }) }}

    <h3>{{ "Infoeinheiten" | trans({}, 'FitbaseReminderBundle') }}</h3>


    <div class="panel-info">
        <div class="row">
            <div class="col-xs-10">
                <p>Hier können Sie festlegen, wie viele Infoeinheiten Sie pro Woche erhalten möchten.
                    Unsere Empfehlung: 1-2 pro
                    Woche. Sie können diese Angaben jederzeit im Profil ändern.</p>
            </div>

            <div class="panel-body col-xs-9">
                {{ sonata_block_render({ 'type': 'fitbase.block.reminder.weeklytask' }) }}
            </div>
        </div>
    </div>

    <h3>{{ "Erinnerungsfunktion" | trans({}, 'FitbaseReminderBundle') }}</h3>


    <div class="panel-info">

        <div class="row">
            <div class="col-xs-10">
                <p>Hier können Sie festlegen, wie viele Erinnerungen Sie pro Woche erhalten möchten. Unsere Empfehlung:
                    Jeden
                    Tag. Sie können diese Angaben jederzeit im Profil ändern.</p>
            </div>
            <div class="panel-body col-xs-9">
                {{ sonata_block_render({ 'type': 'fitbase.block.reminder.exercise' }) }}
            </div>
        </div>
    </div>

    <div class="panel-info row">
        <div class="col-xs-10">
            <p>
                Klicken Sie auf weiter, um fitbase zu starten.
            </p>
        </div>

        <div class="panel-body col-xs-12">
            {% form_theme form _self %}

            {{ form(form) }}

        </div>
    </div>

{% endblock content %}