<div class="panel panel-default">
    <div class="panel-body col-height-300">

        {% if category is defined and category %}
            <h4 class="short hue">
                {% if category.slug == "stress" %}
                    {{ 'Stress Barometer'|trans({}, 'FitbaseUserBundle') }}
                    <span class="tooltip-popup"
                          title="Das Stress Barometer wertet die Stress-bezogenen Fragen in der Bedarfsanalyse aus."
                          style="float: right; font-size: 12px">
                        Info
                    </span>
                {% elseif category.slug == "ruecken" %}
                    {{ 'Rücken Barometer'|trans({}, 'FitbaseUserBundle') }}
                    <span class="tooltip-popup"
                          title="Das Rücken Barometer wertet die Rücken-bezogenen Fragen in der Bedarfsanalyse aus."
                          style="float: right; font-size: 12px">
                        Info
                    </span>
                {% else %}
                    {{ category.name }}
                {% endif %}
            </h4>

            <div id="statistic_user_{{ category.slug }}">
                <svg id="pieChartSVG">
                    <defs>
                        <filter id='pieChartInsetShadow'>
                            <feOffset dx='0' dy='0'/>
                            <feGaussianBlur stdDeviation='3' result='offset-blur'/>
                            <feComposite operator='out' in='SourceGraphic' in2='offset-blur' result='inverse'/>
                            <feFlood flood-color='black' flood-opacity='1' result='color'/>
                            <feComposite operator='in' in='color' in2='inverse' result='shadow'/>
                            <feComposite operator='over' in='shadow' in2='SourceGraphic'/>
                        </filter>
                        <filter id="pieChartDropShadow">
                            <feGaussianBlur in="SourceAlpha" stdDeviation="3" result="blur"/>
                            <feOffset in="blur" dx="0" dy="3" result="offsetBlur"/>
                            <feMerge>
                                <feMergeNode/>
                                <feMergeNode in="SourceGraphic"/>
                            </feMerge>
                        </filter>
                    </defs>
                </svg>
            </div>
        {% endif %}

    </div>
    <div class="panel-footer">
        &nbsp;
        {#<a href="javascript: void(0);">#}
        {#{{ 'Detaillierte Auswertung'|trans({}, 'FitbaseQuestionnaireBundle') }}#}
        {#</a>#}
    </div>
</div>

<script type="text/javascript">
    (function () {
        {% if category is defined and category %}
            $('#statistic_user_{{ category.slug }}').barometer({
                value: '{{ percent }}',
                description: '{{ description }}'
            }, {});
        {% endif %}

    })();
</script>

