<div class="panel panel-default">
    <div class="panel-body">

        <h4 class="short hue">
            {{ 'Aktivierter Fokus'|trans({}, 'FitbaseUserBundle') }}
        </h4>

        <div class="row">
            <div class="col-xs-9 col-height-300">
                <svg id="statistic_user_focus">
                    <defs>
                        <filter id='pieChartInsetShadow'>
                            <feOffset dx='0' dy='0'/>
                            <feGaussianBlur stdDeviation='3' result='offset-blur'/>
                            <feComposite operator='out' in='SourceGraphic' in2='offset-blur' result='inverse'/>
                            <feFlood flood-color='black' flood-opacity='1' result='color'/>
                            <feComposite operator='in' in='color' in2='inverse' result='shadow'/>
                            <feComposite operator='over' in='shadow' in2='SourceGraphic'/>
                        </filter>
                        <filter id="pieChartDropShadow">
                            <feGaussianBlur in="SourceAlpha" stdDeviation="3" result="blur"/>
                            <feOffset in="blur" dx="0" dy="3" result="offsetBlur"/>
                            <feMerge>
                                <feMergeNode/>
                                <feMergeNode in="SourceGraphic"/>
                            </feMerge>
                        </filter>
                    </defs>
                </svg>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {

        function color(index) {
            var colors = ["#a2d049", "#d7ecaf", "#397bc9", "#7eaae0", "#bfd6f3", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"];
            return colors[index];
        }

        var data = [];
        {% if categories is defined and categories %}
        {% for category in categories %}
        data.push({
            'index': {{ loop.index }},
            'color': color({{ loop.index }}-1),
            'label': '{{ category }} ({{ category.countUser }})',
            'value': '{{ category.countUser }}'
        });
        {% endfor %}
        var statisticUserFocusPie = $('#statistic_user_focus');
        if (statisticUserFocusPie.length) {
            statisticUserFocusPie.pie(data, {
                height: 220,
                radius_inner: 26
            });
        }
        {% endif %}

    });
</script>