{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{#{% extends 'ApplicationSonataSeoBundle:Block:breadcrumb.html.twig' %}#}
{% extends 'knp_menu.html.twig' %}

{% block item %}
    {% if item.displayed %}
        <li>
            {%- if item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}
                {{ block('linkElement') }}
            {%- else %}
                {{ block('spanElement') }}
            {%- endif %}
            {{ block('list') }}
        </li>
    {% endif %}
{% endblock %}


{% block root %}
    {% set listAttributes = item.childrenAttributes %}
    <style>
        ul.breadcrumb {
            background-color: #FFFFFF;
        }
    </style>

    <div class="crumbs">
        <div class="container">
            {{ block('list') -}}
        </div>
    </div>

    {% if app is defined and app.session is defined %}
        {% for success in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ success }}
            </div>
        {% endfor %}
        {% for notice in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ notice }}
            </div>
        {% endfor %}
        {% for error in app.session.flashbag.get('error') %}
            <div class="alert alert-success">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
