{% extends 'Exercise/Category/Category.html.twig' %}


{% block breadcrumbs %}
    {{ sonata_block_render_event('breadcrumb', { 'context': 'category_exercises', 'current_uri': app.request.requestUri }) }}
{% endblock breadcrumbs %}


{% block content_top %}
    <div class="bg-dark dark-home">
        <div class="row">
            <!-- Left Content - Tabs and Carousel -->
            <div class="col-md-12">
                <!-- Content Tabs -->
                <div class="tab-content">
                    <!-- Tab One - Feature News -->
                    <div id="feature-news" class="tab-pane active">
                        <!-- blog post-->
                        <ul class="events-carousel padding-top owl-carousel owl-theme" id="events-carousel"
                            style="opacity: 1; display: block;">
                            <!-- Item blog post -->
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper"
                                     style="width: 2900px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);">

                                    {% for category in categories|reverse %}
                                        {% if category.parent is not null %}
                                            <div class="owl-item" style="width: 290px;">
                                                <li>
                                                    <div class="header-post">
                                                        <a href="{{ path('category_exercises', {'slug': category.slug}) }}">
                                                            {% thumbnail category.media, 'preview' with { 'title': null } %}
                                                        </a>
                                                    </div>
                                                    <div class="info-post">
                                                        <h4>
                                                            <a href="{{ path('category_exercises', {'slug': category.slug}) }}">
                                                                {{ category.name }}
                                                            </a>
                                                        </h4>

                                                        <p>{{ category.description }}</p>
                                                    </div>
                                                </li>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                        </ul>
                        <!-- End blog post-->
                    </div>
                    <!-- Tab One - Feature News -->
                </div>
                <!-- Content Tabs -->
            </div>
            <!-- Left Content - Tabs and Carousel -->
        </div>
    </div>
{% endblock content_top %}




{% block content_category %}
    {% if exercises is defined and exercises %}
        <div class="row">
            {% for exercise in exercises %}
                <div class="col-xs-4">
                    <div class="panel-box" style="min-height: 410px;">
                        <div class="titles">
                            <h4>{{ exercise.name }}</h4>
                        </div>
                        <ul class="single-carousel owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer autoHeight">
                                <div class="owl-wrapper" style="left: 0px; display: block;">
                                    <div class="owl-item">
                                        <li>
                                            <a href="{{ path('task', { 'slug': category.slug, 'unique': exercise.id}) }}">
                                                {% thumbnail exercise.image, 'preview'  with {'width': '360px', 'title': null, 'class': 'img-responsive' } %}
                                            </a>

                                            <div class="info-single-carousel">
                                                <p>
                                                    {{ exercise.description|raw|striptags|slice(0,180) }}...
                                                    <a href="{{ path('task', { 'slug': category.slug, 'unique': exercise.id}) }}">
                                                        {{ "Mehr..." | trans({}, 'FitbaseExerciseBundle') }}
                                                    </a>
                                                </p>
                                            </div>
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content_category %}





