{% extends 'Exercise/Category/Category.html.twig' %}

{% block title %}
    <h1>{{ 'Rückengesundheit'|trans({}, 'FitbaseExerciseBundle') }}</h1>
{% endblock title %}


{% block content_top %}
    <div class="bg-dark dark-home">
        <div class="row">
            <!-- Left Content - Tabs and Carousel -->
            <div class="col-md-12">
                <!-- Content Tabs -->
                <div class="tab-content">
                    <!-- Tab One - Feature News -->
                    <div id="feature-news" class="tab-pane active">
                        <!-- blog post-->
                        <ul class="events-carousel padding-top owl-carousel owl-theme" id="events-carousel"
                            style="opacity: 1; display: block;">
                            <!-- Item blog post -->
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper"
                                     style="width: 2900px; left: 0px; display: block; transition: all 1000ms ease 0s; transform: translate3d(0px, 0px, 0px);">

                                    {% for category in categories|reverse %}
                                        {% if category.parent is not null %}
                                            <div class="owl-item" style="width: 290px;">
                                                <li>
                                                    <div class="header-post">
                                                        <a href="{{ path('category_exercises', {'slug': category.slug}) }}">
                                                            {% thumbnail category.media, 'preview' with { 'title': null } %}
                                                        </a>
                                                    </div>
                                                    <div class="info-post">
                                                        <h4>
                                                            <a href="{{ path('category_exercises', {'slug': category.slug}) }}">
                                                                {{ category.name }}
                                                            </a>
                                                        </h4>

                                                        <p>{{ category.description }}</p>
                                                    </div>
                                                </li>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                        </ul>
                        <!-- End blog post-->
                    </div>
                    <!-- Tab One - Feature News -->
                </div>
                <!-- Content Tabs -->
            </div>
            <!-- Left Content - Tabs and Carousel -->
        </div>
    </div>
{% endblock content_top %}



{% block content_category %}
    <div clas="row">
        {% for category in categories|reverse %}
            {% if category.parent is not null %}
                <div class="col-xs-6">

                    <div class="panel-box">
                        <div class="titles">
                            <h4>{{ category }}</h4>
                        </div>

                        {% for exercise in category.exercises|slice(0,3) %}
                            <div class="post-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="img-hover">
                                            {% thumbnail exercise.image, 'thumbnail'  with { 'title': null, 'class': 'img-responsive' } %}

                                            <div class="overlay">
                                                <a href="{{ path('task', { 'slug': category.slug, 'unique': exercise.id}) }}">+</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <h4>
                                            <a href="{{ path('task', { 'slug': category.slug, 'unique': exercise.id}) }}">
                                                {{ exercise.name }}
                                            </a>
                                        </h4>

                                        <p>
                                            {{ exercise.description|raw|striptags|slice(0,110) }}...
                                            <a href="{{ path('task', { 'slug': category.slug, 'unique': exercise.id}) }}">
                                                {{ "Mehr..." | trans({}, 'FitbaseExerciseBundle') }}
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content_category %}


{% block content_bottom %}
    <!-- Sponsors -->
    <div class="section-wide">
        <div class="container">
            {{ sonata_block_render({ 'type': 'fitbase.block.focus.settings_back' }, { 'focus': focus }) }}
        </div>
    </div>
    <!-- End Sponsors -->
{% endblock content_bottom %}


