{% extends "content.html.twig" %}

{% block title %}
    <h1>{{ category.label }}</h1>
{% endblock title %}

{% block breadcrumbs %}
    {{ sonata_block_render_event('breadcrumb', { 'context': 'category', 'current_uri': app.request.requestUri }) }}
{% endblock breadcrumbs %}

{% block content %}
    {% block content_category %}
        {% if exercises is defined and exercises %}
            <div class="row">
                {% for exercise in exercises %}
                    <div class="col-md-4">
                        <div class="panel-box">
                            <div class="titles title-image-bottom">
                                {% if exercise is defined and exercise %}
                                    <h4 class="text-cut">{{ exercise.name }}</h4>
                                {% endif %}
                            </div>
                            <ul class="single-carousel owl-carousel owl-theme" style="opacity: 1; display: block;">
                                <div class="owl-wrapper-outer autoHeight">
                                    <div class="owl-wrapper" style="left: 0px; display: block;">
                                        <li>
                                            {% if exercise is defined and exercise %}
                                                <a href="{{ path('exercise', { 'unique': exercise.id}) }}">
                                                    {% thumbnail exercise.image, 'original'  with {'title': null, 'class': 'img-responsive' } %}
                                                </a>
                                            {% endif %}
                                        </li>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock content_category %}
{% endblock content %}



{% block content_bottom %}
    <div class="section-wide">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h3>{{ 'exercise.exercises_other'|trans({}, 'FitbaseExerciseBundle') }}</h3>
                </div>
            </div>

            {% if exercises is defined and exercises %}
                <div class="row padding-top">
                    {% for exercise in exercises %}
                        <div class="col-md-4">
                            <div class="panel-box">
                                <div class="titles title-image-bottom">
                                    {% if exercise is defined and exercise %}
                                        <h4 class="text-cut">{{ exercise.name }}</h4>
                                    {% endif %}
                                </div>
                                <ul class="single-carousel owl-carousel owl-theme"
                                    style="opacity: 1; display: block;">
                                    <div class="owl-wrapper-outer autoHeight">
                                        <div class="owl-wrapper" style="left: 0px; display: block;">
                                            <li>
                                                {% if exercise is defined and exercise %}
                                                    <a href="{{ path('exercise', { 'unique': exercise.id}) }}">
                                                        {% thumbnail exercise.image, 'original'  with { 'height': '360px', 'title': null, 'class': 'img-responsive' } %}
                                                    </a>
                                                {% endif %}
                                            </li>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>
{% endblock content_bottom %}