{% extends 'Exercise/Category/Category.html.twig' %}

{% block title %}
    <h1>{{ 'Rückengesundheit'|trans({}, 'FitbaseExerciseBundle') }}</h1>
{% endblock title %}


{% block content_top %}
    <div class="bg-dark dark-home">
        <div class="row">
            <!-- Left Content - Tabs and Carousel -->
            <div class="col-md-12">
                <!-- Content Tabs -->
                <div class="tab-content">
                    <!-- Tab One - Feature News -->
                    <div id="feature-news" class="tab-pane active">
                        <!-- blog post-->
                        <ul class="events-carousel padding-top owl-carousel owl-theme" id="events-carousel"
                            style="opacity: 1; display: block;">

                            <!-- Item blog post -->
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper"
                                     style="left: 0px; display: block; transform: translate3d(0px, 0px, 0px);">

                                    {% for category in categories|reverse %}
                                        {% if category.parent is not null %}
                                            <div class="owl-item" style="width: 25%;">
                                                <li>
                                                    <div class="header-post info-post">
                                                        <a href="{{ path('category_exercises', {'slug': category.slug}) }}">
                                                            {% thumbnail category.media, 'original' with { 'title': null } %}
                                                        </a>

                                                        <div class="padding-top">
                                                            <h4>
                                                                <a href="{{ path('category_exercises', {'slug': category.slug}) }}">
                                                                    {{ category.name }}
                                                                </a>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>

                        </ul>
                        <!-- End blog post-->
                    </div>
                    <!-- Tab One - Feature News -->
                </div>
                <!-- Content Tabs -->
            </div>
            <!-- Left Content - Tabs and Carousel -->
        </div>
    </div>
{% endblock content_top %}


{% block content_bottom %}
    <!-- Sponsors -->
    {% if focus is defined and focus %}
        <div class="section-wide">
            <div class="container">
                {{ sonata_block_render({ 'type': 'fitbase.block.focus.settings_back' }, { 'focus': focus }) }}
            </div>
            <br/>
            <br/>
            <div class="container">
                {{ sonata_block_render({ 'type': 'fitbase.block.focus.category_questionnaire' }) }}
            </div>
        </div>
    {% endif %}
    <!-- End Sponsors -->
{% endblock content_bottom %}


