<div class="panel-box">
    <div class="row">
        <div class="accrodation">

            <!-- section 1 -->
            <span class="acc-trigger">
                <a href="#">{{ 'exception.profile_change_focus'|trans({}, 'FitbaseFitbaseBundle') }}</a>
            </span>

            <div class="acc-container">
                <div class="content">
                    {{ sonata_block_render({ 'type': 'fitbase.block.profile_focus' }) }}
                </div>
            </div>
            <!-- end section 1 -->

            <!-- section 2 -->
            <span class="acc-trigger">
                <a href="#">{{ "exception.profile_change_personal_info" | trans({}, 'FitbaseFitbaseBundle') }}</a>
            </span>

            <div class="acc-container">
                <div class="content">

                    {% if form is defined and form %}
                        {% if form.vars is defined %}
                            {% if form.vars.submitted %}
                                <div class="opened"></div>
                            {% endif %}
                        {% endif %}

                        {% form_theme form "User/UserProfileForm.html.twig" %}

                        {{ form(form) }}
                    {% endif %}
                </div>
            </div>
            <!-- end section 2 -->

            <!-- section 3 -->
            <span class="acc-trigger">
                <a href="#">{{ 'sonata_change_password_link'|trans({}, 'SonataUserBundle') }}</a>
            </span>

            <div class="acc-container">
                <div class="content">
                    <form action="" method="POST" class="form-theme">
                        {% if formPassword is defined %}
                            {% if formPassword.vars is defined %}
                                {% if formPassword.vars.submitted %}
                                    <div class="opened"></div>
                                {% endif %}
                            {% endif %}

                            {% form_theme formPassword "User/UserProfileForm.html.twig" %}
                            {{ form_widget(formPassword) }}
                        {% endif %}

                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" name="submit"
                                        class="btn btn-default">
                                    {{ 'exception.profile_save'|trans({}, 'FitbaseFitbaseBundle') }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end section 3 -->

            <!-- section 4 -->
            <span class="acc-trigger">
                <a href="#">{{ "exception.profile_change_weeklytask" | trans({}, 'FitbaseFitbaseBundle') }}</a>
            </span>

            <div class="acc-container">
                <div class="content">
                    <p>{{ "exception.profile_change_weeklytask_info" | trans({}, 'FitbaseFitbaseBundle') }}</p>

                    {{ sonata_block_render( { 'type': 'fitbase.block.reminder.weeklytask' }) }}
                </div>
            </div>
            <!-- end section 4 -->


            <!-- section 5 -->
            <span class="acc-trigger">
                <a href="#">{{ "exception.profile_change_reminder" | trans({}, 'FitbaseFitbaseBundle') }}</a>
            </span>

            <div class="acc-container">
                <div class="content">
                    <p>{{ "exception.profile_change_reminder_info" | trans({}, 'FitbaseFitbaseBundle') }}</p>

                    <div class="panel-body">
                        {{ sonata_block_render({ 'type': 'fitbase.block.reminder.exercise' }) }}
                    </div>
                </div>
            </div>
            <!-- end section 5 -->


            <!-- section 6 -->
            <span class="acc-trigger">
                <a href="#">{{ "exception.profile_pause_reminder" | trans({}, 'FitbaseFitbaseBundle') }}</a>
            </span>

            <div class="acc-container">
                <div class="content">
                    {{ sonata_block_render({ 'type': 'fitbase.block.reminder.pause' }) }}
                </div>
            </div>
            <!-- end section 6 -->


            <!-- section 7 -->
            <span class="acc-trigger">
                <a href="#">{{ "exception.profile_remove_user" | trans({}, 'FitbaseFitbaseBundle') }}</a>
            </span>

            <div class="acc-container">
                <div class="content">
                    {{ sonata_block_render({ 'type': 'fitbase.block.account.remove' }) }}
                </div>
            </div>
            <!-- end section 7 -->

        </div>
    </div>
</div>