{% extends 'FitbaseQuestionnaireBundle::layout.html.twig' %}

{% block content %}
    {{ sonata_block_render_event('breadcrumb', { 'context': 'questionnaire', 'current_uri': app.request.requestUri }) }}

    {% if questionnaire is defined and questionnaire %}
        <div class="row">
            <div class="col-xs-12">
                <h3 class="modal-title">
                    {{ questionnaire.name }}
                    {% if site is defined and site %}
                        (Seite {{ site }}
                        {% if siteTotal is defined and siteTotal %}
                            von {{ siteTotal }})
                        {% endif %}
                    {% endif %}

                </h3>

                <p class="modal-description">
                    {{ questionnaire.description|raw }}
                </p>
            </div>
        </div>
    {% endif %}

    {% form_theme form "FitbaseQuestionnaireBundle:Block:form.html.twig" %}

    {{ form(form) }}

{% endblock %}